# Custom installers
installers/installer-op5

# Packages
packages/*

# Old stuff
legacy/*

# Python
*.pyc

# Vagrant
.vagrant
.codelite

#Unix vi
*~
*swp


# CLion
.idea
cmake-build-debug


# node
node_modules

cmake-build-*


.vscode
.venv

nsclient.fatal
nsclient.log

.cmake

cmake-build


build.cmake

*.tmp