[submodule "ext/json-spirit"]
	path = ext/json-spirit
	url = https://github.com/mickem/json-spirit.git
[submodule "ext/tinyxml2"]
	path = ext/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "ext/lua-protobuf"]
	path = ext/lua-protobuf
	url = https://github.com/mickem/lua-protobuf.git
