[submodule "ext/json-spirit"]
	path = ext/json-spirit
	url = https://github.com/mickem/json-spirit.git
[submodule "ext/tinyxml2"]
	path = ext/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "ext/mongoose-cpp"]
	path = ext/mongoose-cpp
	url = https://github.com/mickem/mongoose-cpp
[submodule "ext/cryptopp"]
	path = ext/cryptopp
	url = https://github.com/mickem/cryptopp.git
[submodule "ext/lua-protobuf"]
	path = ext/lua-protobuf
	url = https://github.com/mickem/lua-protobuf.git
[submodule "ext/docs"]
	path = ext/docs
	url = https://github.com/mickem/nscp-docs.git
