<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dirC722990CDCB916A6A44099040A99483Aa" Name="scripts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Op5ScriptResources">
            <Component Id="cmpE3904B35E201C13834F842174AB956B3" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{244341EC-58B5-4573-9605-444EE39AB67C}">
                <File Id="fil64A6350D12C0372C2CD5AF47BA7C9C42" KeyPath="yes" Source="$(var.OP5ScriptSource)\check_ad.vbs" />
            </Component>
            <Component Id="cmp8B49AFC05E7F03029717A26ED94F1BA2" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{8E43AD6E-CBD6-4C54-9CD2-F2B662906CD4}">
                <File Id="filF41E89D1F998278724F88D56A81403C9" KeyPath="yes" Source="$(var.OP5ScriptSource)\check_time.vbs" />
            </Component>
            <Component Id="cmp8849E500E5AF2C05326FCEEDFD3E5142" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{0BBF42D9-C881-4BA2-81A5-26D4519129E5}">
                <File Id="fil096FE703D3C7A0D1CDDF6B6C4A21E0C6" KeyPath="yes" Source="$(var.OP5ScriptSource)\restart_service.ps1" />
            </Component>
            <Component Id="cmpB356AB95F7711193C007F646D62C9605" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{9BD683E0-9C75-48FC-9B40-21FA1B0D4376}">
                <File Id="filC02F988CBC80E4E9752B1DCF779B2DA4" KeyPath="yes" Source="$(var.OP5ScriptSource)\services.vbs" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dir93456B503E29D7D5908071EDD562C08A" Name="op5" />
        </DirectoryRef>
    </Fragment>
</Wix>