<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="op5scriptroot" Name="scripts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="op5scriptroot">
            <Directory Id="op5scriptsfolder" Name="op5" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Op5ScriptResources">
            <Component Id="cmpE3904B35E201C13834F842174AB956B3" Directory="op5scriptsfolder" Guid="{274032AF-5A94-4DAD-BEC3-ECCDBA4587F2}">
                <File Id="fil64A6350D12C0372C2CD5AF47BA7C9C42" KeyPath="yes" Source="$(var.ScriptSource)\op5\check_ad.vbs" />
            </Component>
            <Component Id="cmp8B49AFC05E7F03029717A26ED94F1BA2" Directory="op5scriptsfolder" Guid="{A30CB4C9-32B7-4280-83D5-9DDC9548ED44}">
                <File Id="filF41E89D1F998278724F88D56A81403C9" KeyPath="yes" Source="$(var.ScriptSource)\op5\check_time.vbs" />
            </Component>
            <Component Id="cmp8849E500E5AF2C05326FCEEDFD3E5142" Directory="op5scriptsfolder" Guid="{A00BE0FC-45C2-428C-9F1A-C922EA7ADB06}">
                <File Id="fil096FE703D3C7A0D1CDDF6B6C4A21E0C6" KeyPath="yes" Source="$(var.ScriptSource)\op5\restart_service.ps1" />
            </Component>
            <Component Id="cmpB356AB95F7711193C007F646D62C9605" Directory="op5scriptsfolder" Guid="{B8D7F5C8-B766-4253-B7EE-7E17C0550230}">
                <File Id="filC02F988CBC80E4E9752B1DCF779B2DA4" KeyPath="yes" Source="$(var.ScriptSource)\op5\services.vbs" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>