<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Op5ConfigResources">
            <Component Id="cmp4C19ABDC8A46F6A900DDCFAFFE4B40CE" Directory="INSTALLLOCATION" Guid="{DF7E7645-E738-4AA7-B756-0F94643D3065}">
                <File Id="filEBCF895A6776369E394955195B7B4004" KeyPath="yes" Source="$(var.OP5ConfigSource)\op5.ini" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>