<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dirC722990CDCB916A6A44099040A99483A" Name="scripts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ScriptResources">
            <Component Id="cmp49DD5F9F09FB4FA8A95D5CFAD86B6AE4" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{8F93DAC1-1D29-4390-A8A9-560D4E7E2283}">
                <File Id="fil5F67D424A7E8B082D67EE08FB200FEF8" KeyPath="yes" Source="$(var.ScriptSource)\check_60s.bat" />
            </Component>
            <Component Id="cmpD6739446E2FCD0B31E07AFA73E212482" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{BC849E94-5E47-44CB-9F1C-4F87C9D7CC64}">
                <File Id="fil2A6184B7CB4FC5480635C55A4D29F469" KeyPath="yes" Source="$(var.ScriptSource)\check_battery.vbs" />
            </Component>
            <Component Id="cmpD75076D34C7D471C4AA6236AD2E204C1" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{B67D70A7-88CD-458D-A37A-93E379B68AA5}">
                <File Id="fil92513D9EE2A1D76870FEDE6A7B4D419A" KeyPath="yes" Source="$(var.ScriptSource)\check_files.vbs" />
            </Component>
            <Component Id="cmp4D528D695F26FE07E5D5CB6B329905E7" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{63880A9B-7241-48A6-8CFE-39E18501FFF4}">
                <File Id="fil10C6FD9961FD41F7ABC32725A17F8E87" KeyPath="yes" Source="$(var.ScriptSource)\check_long.bat" />
            </Component>
            <Component Id="cmp5EA253F887CA02B9AD0C700D1DD8C76A" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{F20CB5DA-A61E-4F35-9731-E11CEA7D4706}">
                <File Id="fil8B326ABE4703117B7B1BF8983F4DAE27" KeyPath="yes" Source="$(var.ScriptSource)\check_no_rdp.bat" />
            </Component>
            <Component Id="cmp3D282D8F99DCC00D5976C29BC3470DCE" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{12ABCE10-FDFB-40E5-A762-2FF1B49C211C}">
                <File Id="fil2835939543A986D71AF3339444A9AB77" KeyPath="yes" Source="$(var.ScriptSource)\check_ok.bat" />
            </Component>
            <Component Id="cmp4AA2795DA53EE5149A39208C60A71106" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{1F8C9B58-1C0B-4D7C-B583-A53C4E85F117}">
                <File Id="fil058C7ABC5A151A87EAFCE3BC05224303" KeyPath="yes" Source="$(var.ScriptSource)\check_ping.bat" />
            </Component>
            <Component Id="cmpFB6C0A256F1B6C57D0EEAC0A5DE585CE" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{FB42CF59-68F6-45A4-AF0F-0D891916863B}">
                <File Id="fil89C40736A3803C9C2AEE1AE56909B7CE" KeyPath="yes" Source="$(var.ScriptSource)\check_printer.vbs" />
            </Component>
            <Component Id="cmp17F62F611C71EF1FC3C22EFF410A903D" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{C3B8C720-96A3-4329-88AD-EA95A01FD83F}">
                <File Id="fil2B631277A3B36D08BD79BB1BE29F5B0B" KeyPath="yes" Source="$(var.ScriptSource)\check_updates.vbs" />
            </Component>
            <Component Id="cmp4270C1CDBEB9E8560DF47AE8E1546D51" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{C5EA7E25-F8CA-4084-85F5-EBF65BA901DD}">
                <File Id="filB88A15D872FA433B41D87681D3B23EF6" KeyPath="yes" Source="$(var.ScriptSource)\powershell.ps1" />
            </Component>
            <Component Id="cmpED0695794ED2441265BC9F979D959617" Directory="dir7E9C001792A99FF4CF9F68CADB7B09CA" Guid="{89281C7F-12A0-48DB-93C8-96B74259AA02}">
                <File Id="filEF1424FC53E410BD9334DBDAA99F5212" KeyPath="yes" Source="$(var.ScriptSource)\lib\NagiosPlugins.vbs" />
            </Component>
            <Component Id="cmp301CA78955C3810D32E2023B5427B92D" Directory="dir7E9C001792A99FF4CF9F68CADB7B09CA" Guid="{F90E3C14-29C4-4D24-9A42-A1883BE859F7}">
                <File Id="fil8F4033EEB1689F1EA06900C54D1569A1" KeyPath="yes" Source="$(var.ScriptSource)\lib\wrapper.vbs" />
            </Component>
            <Component Id="cmpB7399ACFC0330AD6E5FCEE7EB594CC9E" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{B4B495EE-4994-473F-A2CB-4A9CD3C93BF0}">
                <File Id="filF91F539D50A02F9DB8EF509350FEFBC9" KeyPath="yes" Source="$(var.ScriptSource)\lua\check_cpu_ex.lua" />
            </Component>
            <Component Id="cmpB661928B73E115BF02F46679B648BACB" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{7D842F5D-048C-46B3-814A-ADBB87161887}">
                <File Id="fil19E4918C167D7C5765CD7A5CB8641BAF" KeyPath="yes" Source="$(var.ScriptSource)\lua\default_check_mk.lua" />
            </Component>
            <Component Id="cmp1199343909C9149C322FD038B800AB4F" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{DD229AA9-FF2A-4A3A-9BE1-8AD87C5F7D11}">
                <File Id="fil3916432D6FD9E9E4BCDF3F7587882857" KeyPath="yes" Source="$(var.ScriptSource)\lua\noperf.lua" />
            </Component>
            <Component Id="cmpF75C78276C34963843935D90A01FD60F" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{65E45FFC-947F-4A29-AB30-200B73A50185}">
                <File Id="fil6C82EAD213B94F7CF4F7A5397E5A9C78" KeyPath="yes" Source="$(var.ScriptSource)\python\__init__.py" />
            </Component>
            <Component Id="cmpE202309018DF733BA5E07AD78F1A26DF" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{AA232EE5-4758-4715-BAB9-875675606ABD}">
                <File Id="fil1BEBC5FA26859B740D67653D070E7400" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\common_pb2.py" />
            </Component>
            <Component Id="cmpED9D821793B77C147A7291D6BB85719A" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{6A75B36E-A765-4363-8015-4BC66435BAFB}">
                <File Id="fil0AF56908FF3A73CE9EB49663412D24DD" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\log_pb2.py" />
            </Component>
            <Component Id="cmpCA41F14D906147DC35C8C4489737C8CA" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{F91EAC29-1EC6-4C58-9241-4D0C95CCD2D3}">
                <File Id="filE9BF59BB94ECDA21513F48127BD6D61A" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\metrics_pb2.py" />
            </Component>
            <Component Id="cmpC256D85724316C574EF9F8BF70FC9D9C" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{852E2863-1306-43B5-965F-87E76C889AD7}">
                <File Id="filB5EE40547086CCC8E8297FEAA1AFDFB4" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\plugin_pb2.py" />
            </Component>
            <Component Id="cmp31A90353CC9E1D3BF1E911A1ABD48108" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{9711A45D-45C4-4EFB-816A-CFB9BB91B3B2}">
                <File Id="fil19341CB1BFA7DCF9542BB6A64B7598F0" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\registry_pb2.py" />
            </Component>
            <Component Id="cmpE2201E0F261E67BE5ACEC47C359B3630" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{197A796F-E0E3-484B-B2E2-6CB9B9328EB1}">
                <File Id="fil1C5AA6483E26430E368B8D0D320309BA" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\settings_pb2.py" />
            </Component>
            <Component Id="cmp9D9AE241E11885133AAD492362301060" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{94B9BCC3-5F33-4AD6-AD39-D8DAC28DE929}">
                <File Id="fil6E10E6021ED242AFC67D457620FAA90F" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\storage_pb2.py" />
            </Component>
            <Component Id="cmp72D3A9758623A76C634A8BE1DEBB2C1B" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{E24E8306-26C0-4727-914F-2B0CC27C754D}">
                <File Id="fil832B0F274326DB64D5EA9954EF8E4C50" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\__init__.py" />
            </Component>
            <Component Id="cmp8490508AE4A6CDA57FD853E9BB53349B" Directory="dir75D361DD902DAA5B5D1768197D50410D" Guid="{13C3F223-BA64-4BFD-AAD9-455AEB532648}">
                <File Id="filE2A7D31F684EEE1041F6EEA78ACFAF28" KeyPath="yes" Source="$(var.ScriptSource)\python\sample\list_all_wmi_objects.py" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8BEE7999728EED0063087637B6BE9812">
            <Directory Id="dir42740DFEBE9B04C5E878DF2E63442AC0" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6">
            <Directory Id="dir429945C5CA9AEA09AFF20DAC406B3AB3" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8BEE7999728EED0063087637B6BE9812">
            <Directory Id="dir75D361DD902DAA5B5D1768197D50410D" Name="sample" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dir7E9C001792A99FF4CF9F68CADB7B09CA" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dir8BEE7999728EED0063087637B6BE9812" Name="python" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Name="lua" />
        </DirectoryRef>
    </Fragment>
</Wix>