<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dirC722990CDCB916A6A44099040A99483A" Name="scripts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ScriptResources">
            <Component Id="cmp49DD5F9F09FB4FA8A95D5CFAD86B6AE4" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{72B92529-D681-4DF2-BCF8-83DBB83BA783}">
                <File Id="fil5F67D424A7E8B082D67EE08FB200FEF8" KeyPath="yes" Source="$(var.ScriptSource)\check_60s.bat" />
            </Component>
            <Component Id="cmpD6739446E2FCD0B31E07AFA73E212482" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{F674306E-BF76-4E66-8A14-938F1C379DE7}">
                <File Id="fil2A6184B7CB4FC5480635C55A4D29F469" KeyPath="yes" Source="$(var.ScriptSource)\check_battery.vbs" />
            </Component>
            <Component Id="cmpD75076D34C7D471C4AA6236AD2E204C1" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{0CFBC8F4-0442-48D4-AB53-C6CBE7696AF1}">
                <File Id="fil92513D9EE2A1D76870FEDE6A7B4D419A" KeyPath="yes" Source="$(var.ScriptSource)\check_files.vbs" />
            </Component>
            <Component Id="cmp4D528D695F26FE07E5D5CB6B329905E7" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{28B9354F-BD9F-47B6-9465-9B3B6256F545}">
                <File Id="fil10C6FD9961FD41F7ABC32725A17F8E87" KeyPath="yes" Source="$(var.ScriptSource)\check_long.bat" />
            </Component>
            <Component Id="cmp5EA253F887CA02B9AD0C700D1DD8C76A" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{5A04847B-5BB4-48E7-98F1-64372C34C98E}">
                <File Id="fil8B326ABE4703117B7B1BF8983F4DAE27" KeyPath="yes" Source="$(var.ScriptSource)\check_no_rdp.bat" />
            </Component>
            <Component Id="cmp3D282D8F99DCC00D5976C29BC3470DCE" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{D56DEB2D-831B-4D64-A827-DCBBBA2E6345}">
                <File Id="fil2835939543A986D71AF3339444A9AB77" KeyPath="yes" Source="$(var.ScriptSource)\check_ok.bat" />
            </Component>
            <Component Id="cmpA6872EF754194DE34BD35D617307D932" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{284BD0F0-9617-4610-B504-FF1ADBE112C2}">
                <File Id="fil29323435A69B21FD70CCF9FE7A0ED961" KeyPath="yes" Source="$(var.ScriptSource)\check_ok.sh" />
            </Component>
            <Component Id="cmp4AA2795DA53EE5149A39208C60A71106" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{DA0E0CD2-AC2A-4C84-936C-5A71BC51EC46}">
                <File Id="fil058C7ABC5A151A87EAFCE3BC05224303" KeyPath="yes" Source="$(var.ScriptSource)\check_ping.bat" />
            </Component>
            <Component Id="cmpFB6C0A256F1B6C57D0EEAC0A5DE585CE" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{C57302B1-A0EC-4827-A4DE-656D93A7F235}">
                <File Id="fil89C40736A3803C9C2AEE1AE56909B7CE" KeyPath="yes" Source="$(var.ScriptSource)\check_printer.vbs" />
            </Component>
            <Component Id="cmp933E4E1E8A099E56196486ABB58484E1" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{BDDCC8E6-366E-4CD5-80E2-848B1EEBC749}">
                <File Id="filF85F2054296F4451D0B2536DD8EB2969" KeyPath="yes" Source="$(var.ScriptSource)\check_test.bat" />
            </Component>
            <Component Id="cmpD8F9EAD3B63708A288B7E48DA2CB973C" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{73CE39A7-019A-4117-A73E-3D113359F72E}">
                <File Id="fil84817A8C8DCDABC51A8A9052AF202EA4" KeyPath="yes" Source="$(var.ScriptSource)\check_test.ps1" />
            </Component>
            <Component Id="cmp76AFB95B96448F38854B965607665268" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{16A448AE-C8D8-4E06-8198-41E4A1682541}">
                <File Id="fil045E24E4CF248E7511DE9B163BCDCFF8" KeyPath="yes" Source="$(var.ScriptSource)\check_test.sh" />
            </Component>
            <Component Id="cmpF1551F183ED5631F4865312D46474C1F" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{117E2139-5284-4867-9160-CE71F68FFBB0}">
                <File Id="fil5095191C2305537EBFAA9D5E818EC73B" KeyPath="yes" Source="$(var.ScriptSource)\check_test.vbs" />
            </Component>
            <Component Id="cmp17F62F611C71EF1FC3C22EFF410A903D" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{AEBE2F9F-8B17-46CE-9050-C1032276C77D}">
                <File Id="fil2B631277A3B36D08BD79BB1BE29F5B0B" KeyPath="yes" Source="$(var.ScriptSource)\check_updates.vbs" />
            </Component>
            <Component Id="cmp7101F5664B84D9FFE57EB6B09A937B5C" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{7DFD4DE4-9502-43BF-A2ED-0EDD3CAD0758}">
                <File Id="filFB8EF49458477D8CD5042EB19C7B0175" KeyPath="yes" Source="$(var.ScriptSource)\CMakeLists.txt" />
            </Component>
            <Component Id="cmp4270C1CDBEB9E8560DF47AE8E1546D51" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{085EE7D8-6E64-42B9-B127-B8AFAEFC609E}">
                <File Id="filB88A15D872FA433B41D87681D3B23EF6" KeyPath="yes" Source="$(var.ScriptSource)\powershell.ps1" />
            </Component>
            <Component Id="cmpED749D731B5944697169C71A4E3998CD" Directory="dirC722990CDCB916A6A44099040A99483A" Guid="{951EC4C3-9FB7-4516-B147-65984BF6C32E}">
                <File Id="filB83453BD4CE564CE2EA696A9169E82BC" KeyPath="yes" Source="$(var.ScriptSource)\test.lua" />
            </Component>
            <Component Id="cmp7ADBE766E7A20284704FF3A150048B96" Directory="dir3D821B200F79F737EA443C544D206FC3" Guid="{56D00455-CCB0-4526-8EB1-2940B410B36F}">
                <File Id="fil21DC9C44CD1F42A669A1FEDC9FCBB629" KeyPath="yes" Source="$(var.ScriptSource)\custom\my_custom_script.bat" />
            </Component>
            <Component Id="cmp40347771DC1EC56CE5DAC1B9741DF829" Directory="dirB9B12B0D84E740B9CDAA261D7D572316" Guid="{9A89AAA4-229C-49DE-9E33-1CC534F5728C}">
                <File Id="filEA5E06387861844CB31B7A43B653DA58" KeyPath="yes" Source="$(var.ScriptSource)\helper\stress_test_web.py" />
            </Component>
            <Component Id="cmpED0695794ED2441265BC9F979D959617" Directory="dir7E9C001792A99FF4CF9F68CADB7B09CA" Guid="{77DEA4F3-FE45-46CC-8908-FC32056D3E06}">
                <File Id="filEF1424FC53E410BD9334DBDAA99F5212" KeyPath="yes" Source="$(var.ScriptSource)\lib\NagiosPlugins.vbs" />
            </Component>
            <Component Id="cmp301CA78955C3810D32E2023B5427B92D" Directory="dir7E9C001792A99FF4CF9F68CADB7B09CA" Guid="{27256A86-9CF9-4BD9-8A7A-81A4F7BA1C88}">
                <File Id="fil8F4033EEB1689F1EA06900C54D1569A1" KeyPath="yes" Source="$(var.ScriptSource)\lib\wrapper.vbs" />
            </Component>
            <Component Id="cmpB7399ACFC0330AD6E5FCEE7EB594CC9E" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{7E77091D-8863-496C-905D-F49A60013162}">
                <File Id="filF91F539D50A02F9DB8EF509350FEFBC9" KeyPath="yes" Source="$(var.ScriptSource)\lua\check_cpu_ex.lua" />
            </Component>
            <Component Id="cmpB661928B73E115BF02F46679B648BACB" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{D154CC22-17CC-4D77-8C04-ED7053FEEC92}">
                <File Id="fil19E4918C167D7C5765CD7A5CB8641BAF" KeyPath="yes" Source="$(var.ScriptSource)\lua\default_check_mk.lua" />
            </Component>
            <Component Id="cmp1199343909C9149C322FD038B800AB4F" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{75100B61-F83D-45BA-B2FA-586D626944F8}">
                <File Id="fil3916432D6FD9E9E4BCDF3F7587882857" KeyPath="yes" Source="$(var.ScriptSource)\lua\noperf.lua" />
            </Component>
            <Component Id="cmp562C93E2985F6A39B283306A375FE0F5" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{70641DA8-30DE-426E-963E-C472DFD8AC7F}">
                <File Id="fil89A582FF66E4835852CF1CD8B6700FF0" KeyPath="yes" Source="$(var.ScriptSource)\lua\test.lua" />
            </Component>
            <Component Id="cmp4B3CF1B6C042ED84146CF515020EEBD2" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{35D79066-46BB-4DE7-813B-6EDABB140A0F}">
                <File Id="filE79E6C2104085DE6C3B5BABA91D35D8F" KeyPath="yes" Source="$(var.ScriptSource)\lua\test_ext_script.lua" />
            </Component>
            <Component Id="cmpABD937D1A3697857123AAB98B2B1A886" Directory="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Guid="{D8E5D555-F78D-4254-B25B-03BF7006E429}">
                <File Id="filABB93FE9754678DCD19FF4AEF314A7E7" KeyPath="yes" Source="$(var.ScriptSource)\lua\test_nrpe.lua" />
            </Component>
            <Component Id="cmp160823B9DC45C5A6980821BDB3CA40D7" Directory="dir429945C5CA9AEA09AFF20DAC406B3AB3" Guid="{D67A7F50-E43A-4361-9F86-5C412C2465AB}">
                <File Id="filD3D5EE839E056E3116ECF9715C4274E6" KeyPath="yes" Source="$(var.ScriptSource)\lua\lib\test_helper.lua" />
            </Component>
            <Component Id="cmpAB13CFDA22895F8CFC522FA9B6C5EA35" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{F0B8A16C-3133-44DD-BEFC-360529493CDB}">
                <File Id="fil89FF36A0DE77932EC19A242AA9BE1DE7" KeyPath="yes" Source="$(var.ScriptSource)\python\badapp.py" />
            </Component>
            <Component Id="cmpF55F79C62440CBEA9B115C323A6C18F5" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{66C075D5-7833-48C5-9B17-B422512D0F21}">
                <File Id="filE538C2B5B376A9DD72AB37D799170A32" KeyPath="yes" Source="$(var.ScriptSource)\python\docs.py" />
            </Component>
            <Component Id="cmpDDC557BD60D87DE81C3B96B46C0A3A9A" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{F6F17185-B68A-4128-BB8F-6FF6A60D61FA}">
                <File Id="fil7CCE334AE1F071D3813049C280234D73" KeyPath="yes" Source="$(var.ScriptSource)\python\sample.py" />
            </Component>
            <Component Id="cmp8F1754FD84B681B5C5FBA2C8B92D7C2F" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{AB3D514A-7D2E-4429-8D4C-982522F1F932}">
                <File Id="fil260AD45936E0EB8C15F048E4BA85F771" KeyPath="yes" Source="$(var.ScriptSource)\python\test.py" />
            </Component>
            <Component Id="cmp9D56C024860C7E6428170309BECAE9A1" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{A8927FE4-DC5E-4A52-A3BC-FF2EF28BCD8C}">
                <File Id="fil45145710B67F9010A6204ABC37E0D070" KeyPath="yes" Source="$(var.ScriptSource)\python\test_all.py" />
            </Component>
            <Component Id="cmp1E6CAEC0C0D42A16BDC32A7B27D8A925" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{C14A6FE0-7514-4CF7-BAC6-5F4287D3C4C9}">
                <File Id="fil2BB510E14757D90551826894132F5B8C" KeyPath="yes" Source="$(var.ScriptSource)\python\test_eventlog.py" />
            </Component>
            <Component Id="cmpEACB2AA668834550CDE34BCE21FF10FA" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{0BE4374F-FE63-4C2C-A2EF-A694F77A2BBC}">
                <File Id="fil18F7B604EF97C9A8B58053B1B45B823D" KeyPath="yes" Source="$(var.ScriptSource)\python\test_external_script.py" />
            </Component>
            <Component Id="cmpD28E84D5EBE7D6BB10744C5C2CE0752E" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{5F8ED2CD-C193-4CC3-9A41-DE70EE16CD34}">
                <File Id="filF3215644B309330661BC1D6CF1ACF90E" KeyPath="yes" Source="$(var.ScriptSource)\python\test_log_file.py" />
            </Component>
            <Component Id="cmp726D34E48AE311734E58C15B14369A9C" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{515311C9-AEDE-48CD-84F0-FB59FA7BFE09}">
                <File Id="filB4740305C8BAEA9BED5ECCA777C4CADB" KeyPath="yes" Source="$(var.ScriptSource)\python\test_nrpe.py" />
            </Component>
            <Component Id="cmpF2C60BFDD044B6BFD460278AB9D64057" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{924EDAD2-39DB-4987-A3F5-67D8E5172C60}">
                <File Id="fil0793FD035CE653ECAC5AFF53E50187E1" KeyPath="yes" Source="$(var.ScriptSource)\python\test_nsca.py" />
            </Component>
            <Component Id="cmp490F8ED85DCD90B08C67165256B04DC2" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{166DC278-896E-42A4-A401-56AAC857C510}">
                <File Id="filF12E0F6BF9E96514F2F0BC079BEB3C09" KeyPath="yes" Source="$(var.ScriptSource)\python\test_nscp.py" />
            </Component>
            <Component Id="cmp57FCE2F58CB42EF716907A5D2C4732D3" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{B235A999-FDB5-4799-9515-40750A7D2A50}">
                <File Id="filB472DA77AAB800586A74ED655AE63937" KeyPath="yes" Source="$(var.ScriptSource)\python\test_pb.py" />
            </Component>
            <Component Id="cmp6874CBBBBDEF4FF03D6F4DD751587AED" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{56D81D46-0D05-4CFF-BCAD-96D74FADC5FF}">
                <File Id="fil8B6B263DA43D5110F1C4FFCFCB94CAF4" KeyPath="yes" Source="$(var.ScriptSource)\python\test_python.py" />
            </Component>
            <Component Id="cmp0624DF4B965C68DFFBF5823FEA3D1150" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{F24C4577-ED84-4E39-AF8D-F384887B1069}">
                <File Id="fil993E63F75163B80901C7C62F205C0D42" KeyPath="yes" Source="$(var.ScriptSource)\python\test_sample.py" />
            </Component>
            <Component Id="cmp1C3A41BB29C2C37C69F6A8DF03D0FC5D" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{E2EB9C98-10A0-4793-9BC5-B2FD4E09E4D5}">
                <File Id="filFB29339E368C8DCD1826DAA3BCC6198C" KeyPath="yes" Source="$(var.ScriptSource)\python\test_scheduler.py" />
            </Component>
            <Component Id="cmpA0AB8877F9A36FAE22DA3B3F44A4B904" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{74C89A4C-87E0-4527-B2A9-3193ADBF2ACC}">
                <File Id="filA6569D6A3E43D02AD4F196A68D2D07F7" KeyPath="yes" Source="$(var.ScriptSource)\python\test_stress.py" />
            </Component>
            <Component Id="cmp6D0C21E6A8429BB7A62D72B71FA06FA5" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{E67BED73-F018-4F53-9736-54398F03BD43}">
                <File Id="fil760DA0DF6F442D6C3538867431877464" KeyPath="yes" Source="$(var.ScriptSource)\python\test_w32_file.py" />
            </Component>
            <Component Id="cmp67A73B84A1DECEFF11AEF37385C80868" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{F45DF068-D995-4965-AFC2-E110BC3D441A}">
                <File Id="filFD19CFE023ADC1A78346717AC30FA2A6" KeyPath="yes" Source="$(var.ScriptSource)\python\test_w32_schetask.py" />
            </Component>
            <Component Id="cmpE8AE36F25F197FB6C354A0ECBFB1F5DF" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{22CE9970-BADA-46FC-A306-1FF3FCD7A413}">
                <File Id="filE8322B43A8A1AE3D93BD2C382C6070A8" KeyPath="yes" Source="$(var.ScriptSource)\python\test_w32_system.py" />
            </Component>
            <Component Id="cmpD192B7DD534D313D9D9E145082950BE4" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{79C4AA2D-82CB-4A7C-BA37-B743A5622E94}">
                <File Id="fil29BCF01A4CEACDC80F4551843481701A" KeyPath="yes" Source="$(var.ScriptSource)\python\test_w32_wmi.py" />
            </Component>
            <Component Id="cmpF75C78276C34963843935D90A01FD60F" Directory="dir8BEE7999728EED0063087637B6BE9812" Guid="{C7FCDA6A-7456-4F2B-8FFB-9295AFE8D2C3}">
                <File Id="fil6C82EAD213B94F7CF4F7A5397E5A9C78" KeyPath="yes" Source="$(var.ScriptSource)\python\__init__.py" />
            </Component>
            <Component Id="cmp35BE4C72BDA7FA61C9AD0AAE4BF40C12" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{6766B37A-999A-4496-B7B5-510ECD098559}">
                <File Id="fil2C1EA52ED0638B210699A59DE213B734" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\test_helper.py" />
            </Component>
            <Component Id="cmp72D3A9758623A76C634A8BE1DEBB2C1B" Directory="dir42740DFEBE9B04C5E878DF2E63442AC0" Guid="{CA045F9C-B516-4A3C-BE83-F1E20C3EFCCD}">
                <File Id="fil832B0F274326DB64D5EA9954EF8E4C50" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\__init__.py" />
            </Component>
            <Component Id="cmp581A705851C1A44B63F18DFE0549F3C5" Directory="dir03549DDEFA34A91A8D8F65F4D1D39DF5" Guid="{BE5E4198-8C9D-4BB2-A8AC-D8D9C63C5920}">
                <File Id="fil6F5F0DEA4A5D345CD956193CD4CFC0C4" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\__init__.py" />
            </Component>
            <Component Id="cmp17E58BBA623351C58C57768C1B45058D" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{FB9A7202-DE2C-482C-A931-6CA96B31D2D4}">
                <File Id="fil9B45A725854813E0D42631FDC8E1C964" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\descriptor.py" />
            </Component>
            <Component Id="cmp9528CF8B8D53FAAC1260DECCB8C3C628" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{D3A411E2-E1C1-4D9B-8076-E9BDBE1D4E1E}">
                <File Id="fil87EE90A3BC7888F58A077B6C69655FDD" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\descriptor_pb2.py" />
            </Component>
            <Component Id="cmpCCF07DB458D8583E1B0374E50E7027D0" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{5E7E6209-5177-42B9-B4EC-FF1B318F7A28}">
                <File Id="filB12ED18EB902BE731399675092C6B368" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\message.py" />
            </Component>
            <Component Id="cmp0A88744DA85DCB05DEA2D91AF43C860D" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{05036D57-120D-41D9-B097-F3F0E31B1741}">
                <File Id="fil97FA2126F786DE813CFCF911FFE7CFCD" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\reflection.py" />
            </Component>
            <Component Id="cmp7F967F42E8DBED4AC94CB7B229819665" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{60D24CBB-901F-4CFF-BF41-8CD64B3B54D0}">
                <File Id="filC7C94C02BF2CEF920E6788D20A589FB5" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\service.py" />
            </Component>
            <Component Id="cmp9AD23D77759C8BEB33BC8D737EEF2266" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{9E2E5AC0-C374-4F6C-A1E7-F3887A8F3355}">
                <File Id="fil06A2FDDE7C44F97FAC26530D96294A63" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\service_reflection.py" />
            </Component>
            <Component Id="cmpBC588BC3AD9B0162CB4E5CB056C72352" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{6306B3F3-AC11-4AE7-8CC5-8B7E80148D20}">
                <File Id="filF47397415C404D2E929C6ACF262ADDBF" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\text_format.py" />
            </Component>
            <Component Id="cmpF06308E4407C90FAAAEAD6DFDF7B6BEF" Directory="dirD6EF9C9C33262F86DC78E833B018462C" Guid="{F9C7FBAF-C4EE-4B97-AAF9-27651477A995}">
                <File Id="filE2538F04DE03512FF1CF73670BA65DA7" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\__init__.py" />
            </Component>
            <Component Id="cmpF6760C1C6912BAA72C36229757B4E874" Directory="dir43A021861BEC2DE0C5347AB22706B3B0" Guid="{36567929-E276-476E-AAC3-60FBF8F254B1}">
                <File Id="fil2569C9F814D400485B579F6568C736EC" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\compiler\plugin_pb2.py" />
            </Component>
            <Component Id="cmp8DF1D76053A504E09AB668B6A60382FF" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{35A47970-659C-473C-BDFE-1B2E91906C9C}">
                <File Id="fil66812AE44363B8032BA10B7DED2A3497" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\api_implementation.py" />
            </Component>
            <Component Id="cmp9DFD8709747C9D8C452B7EC6B7DAB62A" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{83E8EB37-9168-4974-8B27-1BC3B51BE3B9}">
                <File Id="filC11C68336A82D5D69CFBF26A7E7E90D9" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\containers.py" />
            </Component>
            <Component Id="cmp79FD469586394CFE028A0728124F8F94" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{426E42F5-3D0B-4877-89A8-05146415C8D4}">
                <File Id="fil568182C1FB50D3D1DC4550030D1DB23B" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\cpp_message.py" />
            </Component>
            <Component Id="cmpD32F01DAF6DA742580D624CDA05CB79A" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{1424F72D-FF88-493E-AAB1-AC575BF791C4}">
                <File Id="filC5CC6DBCA07FB4804BA29D068D927C39" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\decoder.py" />
            </Component>
            <Component Id="cmp2ECA7427A675F40DF8435B599D94CDF9" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{2500B9D4-785E-4438-B914-021951233EBC}">
                <File Id="fil9255614CC4C4B1502051D33F973DADB0" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\encoder.py" />
            </Component>
            <Component Id="cmpA9A3EC13291BBD6E868B1985FBDAA7C4" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{DCD67876-65DB-410C-A77A-ED8D9ED25CE3}">
                <File Id="fil4DAA013C2998A59E9BD4FBD67BE11AFD" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\message_listener.py" />
            </Component>
            <Component Id="cmp1A112B00CB253028CAC123BC93ECB10A" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{D0AECCE7-D0A2-49F8-8DB3-D16B304FB7D3}">
                <File Id="fil97AA0D9FEFF6997FA1E8700A91F6C41E" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\python_message.py" />
            </Component>
            <Component Id="cmp961A11488823A0E698918F1B4F55B782" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{90E7C3D8-CEBC-46BA-89B6-E34DC734FDEA}">
                <File Id="filF1E19521293D1DC3FB1018866A668F45" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\type_checkers.py" />
            </Component>
            <Component Id="cmpB8B792A59086A4939644A71308009F78" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{7E4CC4FB-B7C2-4F92-B9D0-5A02C0AC6C66}">
                <File Id="fil30EC5D366824A79E7FA2E4D02712611C" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\wire_format.py" />
            </Component>
            <Component Id="cmpE3AE8830B84786423485C8DA10B2A5B6" Directory="dirA35E89FEAA157D4F23DE035BD6CAA56B" Guid="{754BEE7E-87E0-4D8D-9C06-8EDEDAF973B0}">
                <File Id="fil8DBCCBD5111099E194B8725A77D3DFB2" KeyPath="yes" Source="$(var.ScriptSource)\python\lib\google\protobuf\internal\__init__.py" />
            </Component>
            <Component Id="cmp8490508AE4A6CDA57FD853E9BB53349B" Directory="dir75D361DD902DAA5B5D1768197D50410D" Guid="{3EB2B278-021E-4257-93FD-4E68F2FAD8DD}">
                <File Id="filE2A7D31F684EEE1041F6EEA78ACFAF28" KeyPath="yes" Source="$(var.ScriptSource)\python\sample\list_all_wmi_objects.py" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir42740DFEBE9B04C5E878DF2E63442AC0">
            <Directory Id="dir03549DDEFA34A91A8D8F65F4D1D39DF5" Name="google" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dir3D821B200F79F737EA443C544D206FC3" Name="custom" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8BEE7999728EED0063087637B6BE9812">
            <Directory Id="dir42740DFEBE9B04C5E878DF2E63442AC0" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6">
            <Directory Id="dir429945C5CA9AEA09AFF20DAC406B3AB3" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD6EF9C9C33262F86DC78E833B018462C">
            <Directory Id="dir43A021861BEC2DE0C5347AB22706B3B0" Name="compiler" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8BEE7999728EED0063087637B6BE9812">
            <Directory Id="dir75D361DD902DAA5B5D1768197D50410D" Name="sample" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dir7E9C001792A99FF4CF9F68CADB7B09CA" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dir8BEE7999728EED0063087637B6BE9812" Name="python" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD6EF9C9C33262F86DC78E833B018462C">
            <Directory Id="dirA35E89FEAA157D4F23DE035BD6CAA56B" Name="internal" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dirB9B12B0D84E740B9CDAA261D7D572316" Name="helper" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir03549DDEFA34A91A8D8F65F4D1D39DF5">
            <Directory Id="dirD6EF9C9C33262F86DC78E833B018462C" Name="protobuf" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC722990CDCB916A6A44099040A99483A">
            <Directory Id="dirEAE7F9BEB0F783B5EC9C5AC27AB441E6" Name="lua" />
        </DirectoryRef>
    </Fragment>
</Wix>
