<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir930BEE7F86DAA1C8405267E730B9DBEB" Name="web" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WEBResources">
            <Component Id="cmp485CE892B8DAB39BFD30CFAEBD43E9A7" Directory="dir930BEE7F86DAA1C8405267E730B9DBEB" Guid="{695EECD1-E8E4-4FF6-AA55-6AB1367A4D5B}">
                <File Id="fil2D9426884C302798BE657A8AFEAF3719" KeyPath="yes" Source="$(var.WebSource)\index.html" />
            </Component>
            <Component Id="cmp7F2A058609CCAB00F7E9B5E7A505041F" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{F7C7CAB1-C740-4EB4-8B23-F000113D8F37}">
                <File Id="fil06D2C7641A440F7A5B48D8EC304EADFF" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap-dialog.min.css" />
            </Component>
            <Component Id="cmp6CCE95045CE8E5E08954D76E8AFACC7D" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{D31AF571-4BC3-4A04-B7D1-751D3450AE88}">
                <File Id="fil4631E41B0456AD1A32F1CF056D2A4A41" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap-select.min.css" />
            </Component>
            <Component Id="cmpC02FAB736515C9E4D6F5493D5FD3D201" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{C3D5A291-397A-4C11-9EF8-DC79711DF63F}">
                <File Id="fil18DE1317D101AF8D967C75C262D220F2" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap-theme.css" />
            </Component>
            <Component Id="cmp9BF1127D296C8EE101A5C993D442178F" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{DE1ADEE0-A27B-4F1D-BC15-FAFD7BF8875F}">
                <File Id="filCC3F65FB042B2773FCE124C458FB9ED4" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap-theme.css.map" />
            </Component>
            <Component Id="cmpDCBD3028EC925B67E1BE36926ABC3B4A" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{435FA066-BD66-437B-8ED6-5DDC25CCEF1F}">
                <File Id="filA0909497C3A2309DC785404AAFAA520C" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap-theme.min.css" />
            </Component>
            <Component Id="cmp9E2E0F09D4C16567F91153A172E0A3DE" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{1D7C8555-B014-42AD-B3C4-1A2862E33950}">
                <File Id="filCD68A0C4D25AB91D1A3D3D09DB4125D8" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap-treeview.min.css" />
            </Component>
            <Component Id="cmp071F502981718274F8B7EABB93D6E325" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{30237F13-1901-40A6-95B4-7219004299D6}">
                <File Id="filD2099F245748A0BCA0396FBCD8FCC3B3" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap.css" />
            </Component>
            <Component Id="cmpCF894F9F13FC74A7356277BC2F6F92CC" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{B3F9D181-E256-4743-943F-B09D88530027}">
                <File Id="fil8281797FF7E95D5293818E364769D154" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap.css.map" />
            </Component>
            <Component Id="cmp58139DEA0575E70CEB21F3E52C8BF6C6" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{4023AA5D-48A7-446E-91AB-7F90031907FE}">
                <File Id="filA3120993F99FF328885BA7032648B2E6" KeyPath="yes" Source="$(var.WebSource)\static\css\bootstrap.min.css" />
            </Component>
            <Component Id="cmpC0740AC3017B6CD4DD32451109021676" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{861FD2CA-271E-4E9C-85FE-7D78D9C2BB84}">
                <File Id="filEF03A76B939C17CCC560ECFC1FF7C4B7" KeyPath="yes" Source="$(var.WebSource)\static\css\font-awesome.css" />
            </Component>
            <Component Id="cmpAE47B02564BF541902A321F8D50FB8B7" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{E8CC2070-7301-43C8-91B9-05E064C801CB}">
                <File Id="fil5ED518B8DE9D0730C6DFCC02B408460E" KeyPath="yes" Source="$(var.WebSource)\static\css\font-awesome.min.css" />
            </Component>
            <Component Id="cmp60706B1E0B12DFE206DE374006305FCF" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{559C6989-9FCF-4CEC-ABE9-03F57565E94E}">
                <File Id="fil37AFB7BDE1509C036B38B387B0B68470" KeyPath="yes" Source="$(var.WebSource)\static\css\nscp.css" />
            </Component>
            <Component Id="cmp8E70CEEAB9BE43CD9B1217BF1EF5F393" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{B635C769-E4F1-4DBA-AB40-A50E58FC3EE8}">
                <File Id="filC2883EACFD29C20FB6C7DCC64DB1B45D" KeyPath="yes" Source="$(var.WebSource)\static\css\select2-bootstrap.css" />
            </Component>
            <Component Id="cmp4330F87F8527B02F3A27F4662C2633C2" Directory="dir45D5958FB55F62A688C3DA6978C5145D" Guid="{F6178AC9-ED39-49FB-8BFE-462FC832F551}">
                <File Id="fil45B5764FB1663461A2C61C80B6F76AE8" KeyPath="yes" Source="$(var.WebSource)\static\css\select2.css" />
            </Component>
            <Component Id="cmp85BE73A25BA0115EB3111024AE200BB6" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{49137CE7-37B9-4D9D-935F-913D03DEA834}">
                <File Id="fil1A321506D0070FEC982C63B2582C0F77" KeyPath="yes" Source="$(var.WebSource)\static\fonts\fontawesome-webfont.eot" />
            </Component>
            <Component Id="cmpBBBCBC333521D3F5E7AB8BAE9F43D34D" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{4825B585-D5DA-41F2-9B75-2006BF007E30}">
                <File Id="filC40F209BAAB2544E59113C6DB1B954B5" KeyPath="yes" Source="$(var.WebSource)\static\fonts\fontawesome-webfont.svg" />
            </Component>
            <Component Id="cmp13AAB835CE2527CEAA9DAD8341E8BB06" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{6A5CDC73-8B46-42A0-B601-43956C236155}">
                <File Id="fil41900E0AB78D1CDCBB26280796287285" KeyPath="yes" Source="$(var.WebSource)\static\fonts\fontawesome-webfont.ttf" />
            </Component>
            <Component Id="cmpBC44656F4493739EE1E000BEBFDF18A2" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{82A8EF85-5D3F-4977-B840-25CC1D47AE94}">
                <File Id="fil04403AA83A04C0B882E71C19B847EEE1" KeyPath="yes" Source="$(var.WebSource)\static\fonts\fontawesome-webfont.woff" />
            </Component>
            <Component Id="cmpAEDC9473E13AAE8BFC95726ECCEE9E18" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{9C240A57-3064-4A16-877B-DA5B980555E5}">
                <File Id="fil2DA985A64A36DC553751070CF4F6679A" KeyPath="yes" Source="$(var.WebSource)\static\fonts\fontawesome-webfont.woff2" />
            </Component>
            <Component Id="cmp342C707594321A5ED29B1E88DB5C341E" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{12A41AEF-2913-437C-9293-0F349AFEF6B8}">
                <File Id="filCEB6106071A33E5204DDC43D5E96122E" KeyPath="yes" Source="$(var.WebSource)\static\fonts\FontAwesome.otf" />
            </Component>
            <Component Id="cmp1592E1864267162479A74834840838E8" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{F6BD6FE8-C9BB-486E-9B5F-EDC8FD62847E}">
                <File Id="fil68E17643A8B2EC21EA955F9C642352F0" KeyPath="yes" Source="$(var.WebSource)\static\fonts\glyphicons-halflings-regular.eot" />
            </Component>
            <Component Id="cmpD78E34A37EE3AEE4FC92EB3EF463BB37" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{240F2BD2-A3C6-40D1-8A56-3C2AB97B1CC1}">
                <File Id="fil946AECAFB196A35A5F06591B836C0D5E" KeyPath="yes" Source="$(var.WebSource)\static\fonts\glyphicons-halflings-regular.svg" />
            </Component>
            <Component Id="cmp8401711F3FAC5AD3D3E93B80005852B6" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{77214AB3-CA40-4438-B19C-D81232476E86}">
                <File Id="fil6E0AFE90228ACB6937E28A4087353A1F" KeyPath="yes" Source="$(var.WebSource)\static\fonts\glyphicons-halflings-regular.ttf" />
            </Component>
            <Component Id="cmpD6DF769B6BAE4B6BC4431897B94B0B48" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{CDA0033E-B126-4932-B537-8DD2C4FC3E25}">
                <File Id="fil078FEFE2E0535ABC72482DE288479B89" KeyPath="yes" Source="$(var.WebSource)\static\fonts\glyphicons-halflings-regular.woff" />
            </Component>
            <Component Id="cmp863CA4D1B16D881E62843700B9AEEDFD" Directory="dir90D733247A092FB47018E63E8A0BE3FA" Guid="{2CAE677F-2D82-4AE1-8CEF-DDD98A4C6DB8}">
                <File Id="fil90D92BDCE752CEE1EAFBB0FE36F3487A" KeyPath="yes" Source="$(var.WebSource)\static\fonts\glyphicons-halflings-regular.woff2" />
            </Component>
            <Component Id="cmp881391C9B6A8E971045EF4A0FA39869B" Directory="dir68CF2C518D88CE02E32C32DA294151EA" Guid="{AB4AB8F5-17E2-44E1-847A-B849488304BB}">
                <File Id="filB8EB7E9853613EFA4AE2CD6E0A7114FE" KeyPath="yes" Source="$(var.WebSource)\static\images\ajax-loader.gif" />
            </Component>
            <Component Id="cmp736CA45327A9109F12CEA6CB52D1C313" Directory="dir68CF2C518D88CE02E32C32DA294151EA" Guid="{966461F1-3003-4A5E-9871-9A09231BD8B1}">
                <File Id="fil58FA5426EC9FD9270EDE0C1A2057C546" KeyPath="yes" Source="$(var.WebSource)\static\images\favicon.png" />
            </Component>
            <Component Id="cmp5305289305A1EBF7D774EA15A0598816" Directory="dir117188EFCD9A9BF213452F72AC57B559" Guid="{110B8C1A-ED7D-42FB-BDD2-02FAA295F64F}">
                <File Id="fil48DBAC1695F11AB7DE8A10027119DD78" KeyPath="yes" Source="$(var.WebSource)\static\js\main.js" />
            </Component>
            <Component Id="cmp332E42930A0C0E8B7D6BB3022887A0CB" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{C931D306-8FE2-4718-9C22-58A5F4DABFF6}">
                <File Id="filC4C095EF23FA7B71BD7590ED49B2B558" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\authToken.js" />
            </Component>
            <Component Id="cmp27BE6E3805B8FA1A27FE1A108FF39CD1" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{B4616AE5-A4CD-484D-AB37-5A5CE5220442}">
                <File Id="filED309B5D6A65EDBFF1034E924A34FC36" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\globalStatus.js" />
            </Component>
            <Component Id="cmp777B545DB842534BA0D24C27FA8D4A45" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{C7426045-0AB6-4F61-86F4-0D6B0879F953}">
                <File Id="fil3C3D155B3E41FEA59DCBC4F356A0CA58" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\log.js" />
            </Component>
            <Component Id="cmpBE485BD25ECCEFE38B672E693CC83754" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{5E886F17-F5F4-4B73-BDB3-367C798197B9}">
                <File Id="fil91BC492D9DB56A5F636F7AE91844C618" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\modules.js" />
            </Component>
            <Component Id="cmp8A328267509B227ED177EA9BF7B8016A" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{0798FA72-D7E5-4D7E-913B-7090F9BFBEB7}">
                <File Id="filB290015E9F18130D1E2E9157C226FC46" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\queries.js" />
            </Component>
            <Component Id="cmp66CE17901C3CA8C6047ED1E539E29169" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{265075A1-A58E-4E92-B68F-E8453F22D8C4}">
                <File Id="fil087BB058AFE7E1ECAC053BB6D522F90C" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\router.js" />
            </Component>
            <Component Id="cmpF40C0CC7DB99A37E77C09D4D221DE668" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{1D7A9560-8E6C-4D9E-83FD-76F81A79B6D6}">
                <File Id="filAA37AA3C6F1C1EABEABC79B1496E7FC4" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\server.js" />
            </Component>
            <Component Id="cmpBEFB88DD358A3DDCEFF8497AEE055DFE" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{C973936B-0E45-4A91-8211-AC94F8201D3B}">
                <File Id="fil1A4B827F2CCAB40623E5348B68CD0C24" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\settings.js" />
            </Component>
            <Component Id="cmpF424AED937C6552F31402A627D4CB442" Directory="dir63AE8B457D6A9F10CE61F8894C59E034" Guid="{C15FFB95-47E3-4090-B973-9FD1C54895B9}">
                <File Id="fil5339E7EB2C395E257148C38ED73EE52F" KeyPath="yes" Source="$(var.WebSource)\static\js\app\core\utils.js" />
            </Component>
            <Component Id="cmpB63A468A08ACAC5F26F8325BFA83D991" Directory="dir44C34A825C272E8D86755CCC32AE38C8" Guid="{D462F3B3-C092-4DE1-A432-21873F91D02A}">
                <File Id="fil390C47F1D33821AC6A0F7599F57C5061" KeyPath="yes" Source="$(var.WebSource)\static\js\app\index\dashboard.html" />
            </Component>
            <Component Id="cmp5A7ADE644991D5D4F8C2928241754A40" Directory="dir44C34A825C272E8D86755CCC32AE38C8" Guid="{06814058-A630-4C4F-895B-D1AAD532CF74}">
                <File Id="fil61385869C769979842CF2CA8D29342AB" KeyPath="yes" Source="$(var.WebSource)\static\js\app\index\dashboard.js" />
            </Component>
            <Component Id="cmp73C7ACF26A4D5459101B2C179B6106E1" Directory="dir87B26A58F2421A23F5FC44944C9908AE" Guid="{405CE199-3310-4E59-8286-F531324E7B7D}">
                <File Id="fil575C91CF49F9873B2915B15CFD0335AE" KeyPath="yes" Source="$(var.WebSource)\static\js\app\log\console.html" />
            </Component>
            <Component Id="cmp5B6E4028B0C2176F09CD76FDA6E8981F" Directory="dir87B26A58F2421A23F5FC44944C9908AE" Guid="{9E3E3933-3132-4FE1-B227-13B81791885B}">
                <File Id="fil07072BB7661DF1246858E01AD3FB4E62" KeyPath="yes" Source="$(var.WebSource)\static\js\app\log\console.js" />
            </Component>
            <Component Id="cmp5C9F5985A9EF8E4A1E231C11856CFDE4" Directory="dir87B26A58F2421A23F5FC44944C9908AE" Guid="{D04F4632-0F75-4667-903E-8EA47EEB630D}">
                <File Id="fil609897CDAF1B2A53F9C1B54C3205377C" KeyPath="yes" Source="$(var.WebSource)\static\js\app\log\log.html" />
            </Component>
            <Component Id="cmpC94535E8695EA1246116519EDE410C66" Directory="dir87B26A58F2421A23F5FC44944C9908AE" Guid="{29192FDE-7768-4D9D-82E5-23913040D432}">
                <File Id="fil22F64CA0B62C0B6C5CF2DE10F84A92C1" KeyPath="yes" Source="$(var.WebSource)\static\js\app\log\log.js" />
            </Component>
            <Component Id="cmp9D37F91A8C9F3FF8EB599EB2C4679C7F" Directory="dir84A80309D73222F0F53D11A0F22EEE76" Guid="{FAC76575-30A1-49B6-AF3D-8D1FF4C2E2E6}">
                <File Id="filED54B9D08DB08F679E950DEA08DDBA74" KeyPath="yes" Source="$(var.WebSource)\static\js\app\misc\login.html" />
            </Component>
            <Component Id="cmpF88866CB1CC08A0E67B2D41251C3D558" Directory="dir84A80309D73222F0F53D11A0F22EEE76" Guid="{F883A1FD-0190-48D9-96ED-9BC184CC141A}">
                <File Id="fil957F0C5E507A3FF0FABE85DEAF05CA87" KeyPath="yes" Source="$(var.WebSource)\static\js\app\misc\login.js" />
            </Component>
            <Component Id="cmp848EF8FA7B1DBDE45687F44AA91D6A0F" Directory="dirE994A51DE71F0D62E22BF594DC1188E6" Guid="{6936F5F8-D381-4DE8-B737-17C59E54E06F}">
                <File Id="fil4AE9CB5811F3F9E01D8099741ECE3927" KeyPath="yes" Source="$(var.WebSource)\static\js\app\modules\list.html" />
            </Component>
            <Component Id="cmpF78742296086A2D13DE9C4565FCDC80C" Directory="dirE994A51DE71F0D62E22BF594DC1188E6" Guid="{9A51B817-4542-437A-A5C5-AFEF3462F869}">
                <File Id="filF6CB07AF828C1333B2D2AE8A8AE32181" KeyPath="yes" Source="$(var.WebSource)\static\js\app\modules\list.js" />
            </Component>
            <Component Id="cmpF42FFA57F13FED352177A4DD468A30CB" Directory="dirE994A51DE71F0D62E22BF594DC1188E6" Guid="{022A1BE8-6208-476A-8497-983CDC7B6E6A}">
                <File Id="filF9195CE2EE182D45D3F430069946D54C" KeyPath="yes" Source="$(var.WebSource)\static\js\app\modules\module.html" />
            </Component>
            <Component Id="cmpBD957E823BC8A409F38013BD546B2A39" Directory="dirE994A51DE71F0D62E22BF594DC1188E6" Guid="{3EAC15AF-5957-4852-A682-FE5B950A158B}">
                <File Id="fil223FB5315621DE4B1D79D235C75D1A7F" KeyPath="yes" Source="$(var.WebSource)\static\js\app\modules\module.js" />
            </Component>
            <Component Id="cmpC77DB6ED6740CAAEA5AD8C7AD2369DA9" Directory="dir9B6B5906F6032189AC7EA3B8C66CB668" Guid="{0583117D-07E7-47A5-8E6B-E9611A2082A1}">
                <File Id="fil24BCDAD44899A9A305328C7458850CB0" KeyPath="yes" Source="$(var.WebSource)\static\js\app\monitor\metrics.js" />
            </Component>
            <Component Id="cmpDBEA976A6444B8EAE832225195734854" Directory="dirAE090338CB3C6CEF74E5F09C50673CDF" Guid="{61727C32-E0E2-4162-B3CE-94F1C4DB251B}">
                <File Id="fil152C3C3AAE4BBD01C2E8CCAD13E59A9B" KeyPath="yes" Source="$(var.WebSource)\static\js\app\queries\list.html" />
            </Component>
            <Component Id="cmp02109E37E0E9444208030016BFFF2D74" Directory="dirAE090338CB3C6CEF74E5F09C50673CDF" Guid="{C0C07F9D-CE43-49C4-904F-5BEDB6C69C07}">
                <File Id="filE85313D869CBFEA621EDF16DE4D28817" KeyPath="yes" Source="$(var.WebSource)\static\js\app\queries\list.js" />
            </Component>
            <Component Id="cmpEBCDA9BA46276290724149660E11162F" Directory="dirAE090338CB3C6CEF74E5F09C50673CDF" Guid="{D738314A-F592-4C98-966C-0559E26C15B8}">
                <File Id="fil00ECEE47FBB2E74FC067ED80DCFADBAF" KeyPath="yes" Source="$(var.WebSource)\static\js\app\queries\query.html" />
            </Component>
            <Component Id="cmp476C3EA93AAFFD82029A3DD3A78401F6" Directory="dirAE090338CB3C6CEF74E5F09C50673CDF" Guid="{C6F09ED6-C63D-4419-9B8E-28A871BA7C8E}">
                <File Id="fil710130C99BC612624C5C7900D98207FE" KeyPath="yes" Source="$(var.WebSource)\static\js\app\queries\query.js" />
            </Component>
            <Component Id="cmp2CAACB8C5320CA377F57BC86C9E51BAA" Directory="dirA77410510C3A80EEC098353B29AA2DC2" Guid="{99D9FC2C-FBAC-40E2-B67B-B7B481D5B478}">
                <File Id="filFD5F7F1F409087E71DD85B4BA3BF167F" KeyPath="yes" Source="$(var.WebSource)\static\js\app\settings\list.html" />
            </Component>
            <Component Id="cmpED4D4F8EC4AE8CDA38603C39622DB9E4" Directory="dirA77410510C3A80EEC098353B29AA2DC2" Guid="{56DC9560-4791-4D40-80F5-DCBD38B54F50}">
                <File Id="filBE9AD3D1E31A2C0753366105F5EAAFF5" KeyPath="yes" Source="$(var.WebSource)\static\js\app\settings\list.js" />
            </Component>
            <Component Id="cmp512D8A0F7EAAA0B562CE242633CE6A47" Directory="dir1DF0A411A4978F9E261CD30BD57CD64D" Guid="{57B6EF80-6B54-498F-AEC6-ED64CD5D06F4}">
                <File Id="fil8C77E10D12603D33971156A34476FA97" KeyPath="yes" Source="$(var.WebSource)\static\js\app\tpl\dash-widget-text-lg.html" />
            </Component>
            <Component Id="cmpE5249731BEBA497646178E6D0604456A" Directory="dir1DF0A411A4978F9E261CD30BD57CD64D" Guid="{9B3DA493-96D7-4CC5-B7BE-1C92C548D0B1}">
                <File Id="fil18BE21F229D059186EFB009DCD002751" KeyPath="yes" Source="$(var.WebSource)\static\js\app\tpl\dash-widget-text.html" />
            </Component>
            <Component Id="cmp19E9DE9151A58A4FFC0DA68B6EA53E39" Directory="dir1DF0A411A4978F9E261CD30BD57CD64D" Guid="{95BCC86D-8832-4B14-8D12-22B34D697F89}">
                <File Id="filE823D950798585383F968BE2D00D4B46" KeyPath="yes" Source="$(var.WebSource)\static\js\app\tpl\settings-list.html" />
            </Component>
            <Component Id="cmp14720D738F9C958526991E52F0867FB1" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{457A973E-6F02-42B4-9C98-27C29CBCDE64}">
                <File Id="fil3737550AC7C20151A76F777B7DD96675" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\bootstrap-dialog.min.js" />
            </Component>
            <Component Id="cmp23B5678867CE916E8A0B9C90E6113F4E" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{AC3316BB-737F-4A9A-9527-495DE4D0229E}">
                <File Id="fil1ABCF965254F84D7BB867B32025CA622" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\bootstrap-select.min.js" />
            </Component>
            <Component Id="cmp7005CDD2C398293A7E03CA66523F3CD0" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{D2C8519E-2323-4D1F-8675-26AED16458FD}">
                <File Id="fil269F2EAA20739C76E77270C26604D524" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\bootstrap-treeview.min.js" />
            </Component>
            <Component Id="cmp532E022F0F27EEF7FC2126B77C61B656" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{0F80F8B4-5D33-4691-AD8B-E33C4C294D48}">
                <File Id="fil3077AB0D25314EE0E029DB327A8442F1" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\bootstrap.min.js" />
            </Component>
            <Component Id="cmpD82B9DFB477923E7237E5CBEFEFC9692" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{902FEE02-BE69-4C0D-8D09-619EEFDD06F2}">
                <File Id="fil86F1547868F3C0A0A6DAB5A326AE4411" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\handlebars-v2.0.0.js" />
            </Component>
            <Component Id="cmpEA1BD50D0842E3599F80F302286D9EEA" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{4ED93EE5-1EC0-49A9-A8C9-E80065BE248E}">
                <File Id="fil5431BC2D6701E4FF1F652FB6C795FA97" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\jquery-1.11.1.min.js" />
            </Component>
            <Component Id="cmpDA954CA268458F5B022B49CB6FE687FF" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{C7D62A1B-71C8-4512-B585-0C4920680DCC}">
                <File Id="fil99977DD2129933E7696B9656F20497F6" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\jquery.flot.min.js" />
            </Component>
            <Component Id="cmpE202FD958C5ACA2B6B7B130CADB29A4A" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{05228D95-724D-4C0E-8CAA-E3F6A860ED0E}">
                <File Id="fil1E46D708133BD4A82801BB3E7470CEC3" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\jquery.flot.resize.min.js" />
            </Component>
            <Component Id="cmpD973B569C89F188448AEA4D20C201655" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{D3D9C17F-D82D-4D72-BF11-77956CF14D34}">
                <File Id="fil6D67AB7A383B2016E4D175A2B495F5CD" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\knockout-3.3.0.js" />
            </Component>
            <Component Id="cmp9EF743B3141DC618C2D8AE29215D7344" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{6DB078DC-A502-4A76-A4C8-E98A1E0AFD89}">
                <File Id="filCC8A91F8316E479C96B20C326586AB1F" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\require-2.1.18.js" />
            </Component>
            <Component Id="cmp2F288666BE0EE545B0EA409FFC63222B" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{9C00C6B5-4AEF-44BA-A71B-CD24D017B666}">
                <File Id="fil0869067875612AB933EAB376060F6CFE" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\require-text-2.0.14.js" />
            </Component>
            <Component Id="cmpC22A8B3D6DDF8AE7D19D93A07AA1BB8F" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{C570504D-6868-467A-BA95-9CFD8D63CDF0}">
                <File Id="filE73A3EC6E3ED4ACDB35B3613B782E3F9" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\sammy.js" />
            </Component>
            <Component Id="cmp4E93A6AB2A638874EC3E77400F54C82B" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{E0947C37-868D-4BC9-B671-FA71568A2745}">
                <File Id="fil81C66251F149BACF78CF43D6B245B5F5" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\select2.min.js" />
            </Component>
            <Component Id="cmp14940E8C81FE1227DA8048E88BB3650F" Directory="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Guid="{19ADFF79-A2E7-4200-BC29-02FFCE8AFC49}">
                <File Id="fil340E2E2EFF10B0C75EB8D6B645C3A5D9" KeyPath="yes" Source="$(var.WebSource)\static\js\lib\typeahead.jquery.min.js" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA6BF7C3800848C7B37A2872B5FE08CAE">
            <Directory Id="dir117188EFCD9A9BF213452F72AC57B559" Name="js" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dir1DF0A411A4978F9E261CD30BD57CD64D" Name="tpl" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dir44C34A825C272E8D86755CCC32AE38C8" Name="index" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA6BF7C3800848C7B37A2872B5FE08CAE">
            <Directory Id="dir45D5958FB55F62A688C3DA6978C5145D" Name="css" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dir63AE8B457D6A9F10CE61F8894C59E034" Name="core" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA6BF7C3800848C7B37A2872B5FE08CAE">
            <Directory Id="dir68CF2C518D88CE02E32C32DA294151EA" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dir84A80309D73222F0F53D11A0F22EEE76" Name="misc" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dir87B26A58F2421A23F5FC44944C9908AE" Name="log" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA6BF7C3800848C7B37A2872B5FE08CAE">
            <Directory Id="dir90D733247A092FB47018E63E8A0BE3FA" Name="fonts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dir9B6B5906F6032189AC7EA3B8C66CB668" Name="monitor" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir930BEE7F86DAA1C8405267E730B9DBEB">
            <Directory Id="dirA6BF7C3800848C7B37A2872B5FE08CAE" Name="static" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dirA77410510C3A80EEC098353B29AA2DC2" Name="settings" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dirAE090338CB3C6CEF74E5F09C50673CDF" Name="queries" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF5C5BF4936558BBE2DA32B472007B9CD">
            <Directory Id="dirE994A51DE71F0D62E22BF594DC1188E6" Name="modules" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir117188EFCD9A9BF213452F72AC57B559">
            <Directory Id="dirF5C5BF4936558BBE2DA32B472007B9CD" Name="app" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir117188EFCD9A9BF213452F72AC57B559">
            <Directory Id="dirFCF9AEDD5EB563B4D9E8FEB442014DD0" Name="lib" />
        </DirectoryRef>
    </Fragment>
</Wix>