<Include>
<Property Id='ARPCOMMENTS'>NSClient++ is a </Property>
<Property Id='ARPCONTACT'>michael@medin.name</Property>
<Property Id='ARPHELPLINK'>http://nsclient.org</Property>
<Property Id='ARPURLINFOABOUT'>http://nsclient.org</Property>
<Property Id='ARPURLUPDATEINFO'>http://nsclient.org</Property>
<Property Id='ARPHELPTELEPHONE'>http://nsclient.org</Property>
<Property Id='ARPPRODUCTICON'>nsclient.exe</Property>

<Property Id="CONF_CHECKS_DEFAULT"></Property>
<Property Id="CONF_NSCLIENT_DEFAULT"></Property>
<Property Id="CONF_NRPE_DEFAULT"></Property>
<Property Id="CONF_NSCA_DEFAULT"></Property>
<Property Id="CONF_WMI_DEFAULT"></Property>
<Property Id="ALLOW_CONFIGURATION" />

<!-- CONFIGURE DEFAULT VALUES-->
<Property Id="ALLOWED_HOSTS_DEFAULT">$$EMPTY$$</Property>
<Property Id="NSCLIENT_PWD_DEFAULT">$$EMPTY$$</Property>

<!-- CONFIGURE THE INSTALLER -->
<Property Id='INSCON_CONFIGURE'>1</Property>
<Property Id='MAIN_CONFIGURATION_FILE'>NSC.ini</Property>
<Property Id='CUSTOM_CONFIGURATION_FILE'>NSC.ini</Property>
<Property Id='HELP_LINK'>http://nsclient.org/nscp/</Property>

<Property Id='SHOW_START_ON_EXIT'>1</Property>
<Property Id='START_SERVICE_ON_EXIT'></Property>
<Property Id='SHOW_DONATE_ON_EXIT'>1</Property>
<Property Id='DONATE_ON_EXIT'></Property>
<Property Id='KEEP_WHICH_CONFIG'>NEW</Property>
<!--<Property Id='MAIN_CONFIGURATION_FILE'>NSC.ini</Property>-->
<!--<Property Id='ARPREADME'>path</Property>-->
<!--<Property Id='ARPSIZE'>app size in kilobytes</Property>-->

</Include>
