<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		<DirectoryRef Id="INSTALLLOCATION">
			<Component Id="LibCommon" Guid="AA72FE42-6AF4-41B6-B77E-E554860E4508">
				<File Id="BOOST_DT" Name="boost_date_time-vc110-mt-1_52.dll" DiskId="1" Source="$(var.Source)/../lib-dist/boost_date_time-vc110-mt-1_52.dll" Vital="yes" />
				<File Id="BOOST_FS" Name="boost_filesystem-vc110-mt-1_52.dll" DiskId="1" Source="$(var.Source)/../lib-dist/boost_filesystem-vc110-mt-1_52.dll" Vital="yes" />
				<File Id="BOOST_PO" Name="boost_program_options-vc110-mt-1_52.dll" DiskId="1" Source="$(var.Source)/../lib-dist/boost_program_options-vc110-mt-1_52.dll" Vital="yes" />
				<File Id="BOOST_PY" Name="boost_python-vc110-mt-1_52.dll" DiskId="1" Source="$(var.Source)/../lib-dist/boost_python-vc110-mt-1_52.dll" Vital="yes" />
				<File Id="BOOST_RE" Name="boost_regex-vc110-mt-1_52.dll" DiskId="1" Source="$(var.Source)/../lib-dist/boost_regex-vc110-mt-1_52.dll" Vital="yes" />
				<File Id="BOOST_SYS" Name="boost_system-vc110-mt-1_52.dll" DiskId="1" Source="$(var.Source)/../lib-dist/boost_system-vc110-mt-1_52.dll" Vital="yes" />
				<File Id="BOOST_T" Name="boost_thread-vc110-mt-1_52.dll" DiskId="1" Source="$(var.Source)/../lib-dist/boost_thread-vc110-mt-1_52.dll" Vital="yes" />
				<File Id="SSL1" Name="libeay32.dll" DiskId="1" Source="$(var.Source)/../lib-dist/libeay32.dll" Vital="yes" />
				<File Id="SSL2" Name="ssleay32.dll" DiskId="1" Source="$(var.Source)/../lib-dist/ssleay32.dll" Vital="yes" />
			</Component>
			<Component Id="LibNSCP" Guid="365EF37C-49D4-4903-9EF7-A221F0915FB2">
				<File Id="NSCP_PLUG" Name="plugin_api.dll" DiskId="1" Source="$(var.Source)/plugin_api.dll" Vital="yes" />
				<File Id="NSCP_JSPB" Name="json_pb.dll" DiskId="1" Source="$(var.Source)/json_pb.dll" Vital="yes" />
				<File Id="NSCP_LUA" Name="lua.dll" DiskId="1" Source="$(var.Source)/lua.dll" Vital="yes" />
				<File Id="NSCP_PB" Name="protobuf.dll" DiskId="1" Source="$(var.Source)/protobuf.dll" Vital="yes" />
				<File Id="NSCP_WF" Name="where_filter.dll" DiskId="1" Source="$(var.Source)/where_filter.dll" Vital="yes" />
			</Component>
		</DirectoryRef>
		</Fragment>
</Wix>
