<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="InvalidConfigureationDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
				<Control Id="HelpTextOld" Type="Text" X="45" Y="53" Width="260" Height="40" Hidden="no" Transparent="yes" NoPrefix="yes">
					<Text>Reading the old configuration failed for some reason (se below). This is not as bad as it sounds since you already have a (hopefully) working configuration. So we will go ahead and use that one instead of allowing you to pick one here.</Text>
				</Control>
				<Control Id="HelpTextNew" Type="Text" X="45" Y="140" Width="260" Height="100" Hidden="no" Transparent="yes" NoPrefix="yes">
					<Text>Problem was: [KEY_CONF_OLD_ERROR]</Text>
				</Control>
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />

				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Hidden="yes" Transparent="yes" NoPrefix="yes">
					<Text>Could not read old configuration</Text>
				</Control>

				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}NSClient++ Configuration</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>
