#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@ 

override_dh_auto_clean:
	dh_auto_clean
	test ! -f ext/lua-protobuf/lua_protobuf/__init__.pyc || rm ext/lua-protobuf/lua_protobuf/__init__.pyc
	test ! -f ext/lua-protobuf/lua_protobuf/generator.pyc || rm ext/lua-protobuf/lua_protobuf/generator.pyc
	test ! -f ext/json-protobuf/json_protobuf/generator.pyc || rm ext/json-protobuf/json_protobuf/generator.pyc
	test ! -f ext/json-protobuf/json_protobuf/__init__.pyc || rm ext/json-protobuf/json_protobuf/__init__.pyc
	test ! -f deb/build/python/VersionHandler.pyc || rm deb/build/python/VersionHandler.pyc
	test ! -f build/python/VersionHandler.pyc || rm build/python/VersionHandler.pyc
	test ! -f nsclient.log || rm nsclient.log
