/*
 * Copyright 2016 The NSClient++ Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "resource.h"
#include <version.hpp>

///////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_NSCP                ICON                    "res/error-report.ico"

///////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
FILEVERSION PRODUCTVER
PRODUCTVERSION PRODUCTVER
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904B0"
BEGIN
VALUE "Comments", "NSClient++ error reporter\0"
VALUE "CompanyName", "MySolutions Nordic (Michael Medin)\0"
VALUE "FileDescription", "Monitoring Agent (error reporter)\0"
VALUE "FileVersion", STRPRODUCTVER "\0"
VALUE "InternalName", "reporter\0"
VALUE "LegalCopyright", "Copyright (C) 2012 - Michael Medin\0"
VALUE "OriginalFilename", "REPORTER.EXE\0"
VALUE "ProductName", "NSClient++\0"
VALUE "ProductVersion", STRPRODUCTVER "\0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1200
END
END