[Unit]
Description=NSClient++ Monitoring Agent

[Service]
WorkingDirectory=/usr/share/nsclient
User=nsclient
PIDFile=/usr/share/nsclient/nscp.pid

ExecStart=/usr/sbin/nscp service --run --pid /usr/share/nsclient/nscp.pid

[Install]
WantedBy=multi-user.target
