[Unit]
Description=NSClient++ Monitoring Agent

[Service]
WorkingDirectory=/usr/local/share/nsclient
User=nsclient
PIDFile=/usr/local/share/nsclient/nscp.pid

ExecStart=/usr/local/sbin/nscp service --run --pid /usr/local/share/nsclient/nscp.pid

[Install]
WantedBy=multi-user.target
