<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<?if "$(var.arch)" = "x64"?>
	<?define ProgramFiles = "ProgramFiles64Folder" ?>
	<?define Win64 = "yes" ?>
	<?define Plattform = "x64" ?>
	<?else?>
	<?define ProgramFiles = "ProgramFilesFolder" ?>
	<?define Win64 = "no" ?>
	<?define Plattform = "x86" ?>
	<?endif?>

	<?define Version.String = "$(var.Version.Major).$(var.Version.Minor).$(var.Version.Revision).$(var.Version.Build)" ?>
	<?define UpgradeCode = "0B36E3B7-0042-452d-B376-57E0C07ADDAA" ?>

	<?include config.wxs ?>

	<Product Id="*" Name="$(var.App.Title) ($(var.arch))" Language="1033" Version="$(var.Version.String)" Manufacturer="MySolutions NORDIC" UpgradeCode="$(var.UpgradeCode)">

		<Package Id="*" Description="A simple windows monitor agent for (amongst others) Nagios."
						 Comments="This will appear in the file summary stream." InstallerVersion="200" Compressed="yes" Languages="1033" Platform="$(var.Plattform)" />

		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Property="OLDAPPFOUND" IncludeMinimum="yes" Minimum="0.3.0.0" IncludeMaximum="no" Maximum="$(var.Version.String)"/>
			<UpgradeVersion Property="NEWAPPFOUND" IncludeMinimum="no" Minimum="$(var.Version.String)" OnlyDetect="yes"/>
		</Upgrade>

		<?if "$(var.arch)" = "x64"?>
		<Condition Message="x64 bit version not supported on Win32 bit platform (get Win32 instead)">VersionNT64</Condition>
		<?endif?>
		<Media Id="1" Cabinet="Product.cab" EmbedCab="yes" CompressionLevel="high" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramFiles)">
				<Directory Id="INSTALLLOCATION" Name="$(var.App.Path)">
					<Component Id="MainClient" Guid="5C45463A-4AE9-4325-96DB-6E239C034F93" Win64="$(var.Win64)">
						<File Id="NSClientEXE" Name="nscp.exe" DiskId="1" KeyPath="yes"
								Source="$(var.Source)/nscp.exe" Vital="yes">
							<fire:FirewallException Id="FWX1" Name="NSClient++ Monitoring Agent" Scope="any" IgnoreFailure="yes" />
						</File>
						<RemoveFile Id="PurgeLogFiles" Name="*.log" On="uninstall" />
						<ServiceInstall Id="SWCNSCP"
							Name="[SERVICE_NAME]" DisplayName="$(var.App.Title) ($(var.arch))"
							Type="ownProcess" Start="auto" ErrorControl="normal" Interactive="no"
							Description="Monitoring agent for nagios (and others) used to respond to status queries"
							Arguments="service --run --name [SERVICE_NAME]">
							<!--<ServiceDependency Id="Tcpip" />-->
						</ServiceInstall>
						<ServiceControl Id="StartSWCNSCP" Name="[SERVICE_NAME]" Start="install" Stop="both" Wait="yes" Remove="uninstall" />
						<RemoveFolder Id="RemoveMenuShortcuts" Directory="ProgramMenuDir" On="uninstall" />
					</Component>
					<Component Id="Shortcuts" Guid="4BCF8026-B209-4d33-B323-5B2ACC43A258" Win64="$(var.Win64)">
						<Shortcut Id="StartmenuNSClientTest" Directory="ProgramMenuDir" Name="$(var.App.Title) ($(var.arch), test)" 
                      Target="[INSTALLLOCATION]nscp.exe"
                        WorkingDirectory="INSTALLDIR" Icon="nscp.exe" IconIndex="0" 
                      Arguments="test" Description="Run $(var.App.Title) in test mode" />
						<Shortcut Id="StartmenuNSClientStart" Directory="ProgramMenuDir" Name="Start $(var.App.Title) ($(var.arch))"
                      Target="[INSTALLLOCATION]nscp.exe"
								  WorkingDirectory='INSTALLDIR' Icon="nscp.exe" IconIndex="0"
								  Arguments="service --name [SERVICE_NAME] --start" Description="Start the $(var.App.Title) service" />
						<Shortcut Id="StartmenuNSClientStop" Directory="ProgramMenuDir" Name="Stop $(var.App.Title) ($(var.arch))"
                      Target="[INSTALLLOCATION]nscp.exe"
								  WorkingDirectory='INSTALLDIR' Icon="nscp.exe" IconIndex="0"
								  Arguments="service --name [SERVICE_NAME] --stop" Description="Stop the $(var.App.Title) service" />
						<Shortcut Id="StarmentNSCHelp" Directory="ProgramMenuDir" Name="Documentation"
								  Target="[HELP_LINK]" Icon="doc.ico"
								  Description="Visit the NSClient++ WIKI for documentation">
						</Shortcut>
						<RegistryValue Root="HKCU" Key="Software\NSClient++\Installer" Name="shortcuts" Type="integer" Value="1" KeyPath="yes"/>
					</Component>
					<Component Id="Helpers" Guid="AEBD660B-C62A-4af6-9A61-693D319BC224" Win64="$(var.Win64)">
						<File Id="ErrorReporter" Name="reporter.exe" DiskId="1" Source="$(var.Source)/reporter.exe" Vital="yes" />
					</Component>
					<Component Id="SampleConfigUser" Guid="BF040814-8FAB-47b9-B700-1E1F0BF420FC" Win64="$(var.Win64)">
						<File Id="NSClientINIUser" Name="nsclient.ini" DiskId="1" Source="$(var.Path.ini)/nsclient.dist" Vital="no" PatchIgnore="yes">
							<Permission User="[USERGROUP_USERS]" GenericRead="yes" Read="yes" GenericWrite="yes" Write="yes"/>
						</File>
						<RemoveFile Id="PurgeConfigFilesUser" Name="*.ini" On="uninstall" />
						<Condition>INSTALL_SAMPLE_CONFIG AND USER_WRITABLE_CONFIG</Condition>
					</Component>
					<Component Id="SampleConfig" Guid="73B35DA2-C6D5-45d4-940F-E7D3CACB2ACF" Win64="$(var.Win64)">
						<File Id="NSClientINI" Name="nsclient.ini" DiskId="1" Source="$(var.Path.ini)/nsclient.dist" Vital="no" PatchIgnore="yes" />
						<RemoveFile Id="PurgeConfigFiles" Name="*.ini" On="uninstall" />
						<Condition>INSTALL_SAMPLE_CONFIG AND NOT USER_WRITABLE_CONFIG</Condition>
					</Component>
					<Component Id="RandomFiles" Guid="E23865C3-C11F-4d11-BE63-C670D60B0CD0" Win64="$(var.Win64)">
						<File Id="Changelog" Name="changelog.txt" DiskId="1" Source="$(var.Source)/changelog" Vital="no" />
						<File Id="License" Name="license.txt" DiskId="1" Source="$(var.Source)/license.txt" Vital="no" KeyPath="yes" />
						<File Id="settingsMap" Name="old-settings.map" DiskId="1" Source="$(var.Source)/old-settings.map" Vital="no" />

						<RemoveFile Id="LogFile1" Name="nsclient.log" On="uninstall" />
						<RemoveFile Id="LogFile2" Name="nsc.log" On="uninstall" />
						<RemoveFile Id="OldConfig" Name="nsc.old" On="uninstall" />
						<RemoveFile Id="NewConfig" Name="nsc.new" On="uninstall" />
					</Component>
					<Component Id="NagiosDocumentation" Guid="DE136675-CBBD-49c4-B3DB-B3D5DA90BDD1" Win64="$(var.Win64)">
						<File Id="doc.usage.nagios" Name="Nagios Usage Guide.pdf" DiskId="1" Source="$(var.Source)/docs/Nagios Usage Guide.pdf" Vital="no" KeyPath="yes">
							<Shortcut Id="Startmenu.doc.nagios" Directory="ProgramMenuDir" Name="Nagios Usage Guide" Advertise="yes"
									  WorkingDirectory="INSTALLDIR" Description="Nagios Usage Guide"/>
						</File>
					</Component>
					<Component Id="ReferenceDocumentation" Guid="C1F07CBC-2D5A-49c1-8A52-A48FFBDD692B" Win64="$(var.Win64)">
						<File Id="doc.reference" Name="NSClient++ Reference Manual.pdf" DiskId="1" Source="$(var.Source)/docs/NSClient++ Reference Manual.pdf" Vital="no" KeyPath="yes">
							<Shortcut Id="Startmenu.doc.ref" Directory="ProgramMenuDir" Name="NSClient++ Reference Manual" Advertise="yes"
									  WorkingDirectory="INSTALLDIR" Description="NSClient++ Reference Manual"/>
						</File>
					</Component>
					<Directory Id="INSTALLLOCATION_SECURITY" Name="security">
						<Component Id="NRPEServerCert" Guid="4129415B-4907-4c63-A7D7-4EF7B37969D1" Win64="$(var.Win64)">
							<File Id="NRPECert" Name="nrpe_dh_512.pem" DiskId="1" Source="$(var.Source)/security/nrpe_dh_512.pem" Vital="no"/>
						</Component>
					</Directory>
					<Directory Id="INSTALLLOCATION_MODS" Name="modules">
						<Component Id="NRPEServer" Guid="E00E8CFD-ADA6-47bd-84F0-DD00F07AD326" Win64="$(var.Win64)">
							<File Id="NRPEServerDLL" Name="NRPEServer.dll" DiskId="1" Source="$(var.Source)/modules/NRPEServer.dll" Vital="no" />
							<File Id="NRPEClientDLL" Name="NRPEClient.dll" DiskId="1" Source="$(var.Source)/modules/NRPEClient.dll" Vital="no" />
						</Component>
						<Component Id="NSCServer" Guid="64CEEE94-4E45-48ca-B120-81DA3F3E081A" Win64="$(var.Win64)">
							<File Id="NSCServerDLL" Name="NSClientServer.dll" DiskId="1" Source="$(var.Source)/modules/NSClientServer.dll" Vital="no" />
						</Component>
						<Component Id="NSCA" Guid="C2C9E95A-28A6-4ea0-BF71-73B8CE509369" Win64="$(var.Win64)">
							<File Id="NSCAClientDLL" Name="NSCAClient.dll" DiskId="1" Source="$(var.Source)/modules/NSCAClient.dll" Vital="no" />
							<File Id="NSCAServerDLL" Name="NSCAServer.dll" DiskId="1" Source="$(var.Source)/modules/NSCAServer.dll" Vital="no" />
							<File Id="SchedulerDLL" Name="Scheduler.dll" DiskId="1" Source="$(var.Source)/modules/Scheduler.dll" Vital="no" />
						</Component>
						<Component Id="PythonScript" Guid="49C2120D-634D-48ef-B82E-F2E9B219A768" Win64="$(var.Win64)">
							<File Id="PythonScript" Name="PythonScript.dll" DiskId="1" Source="$(var.Source)/modules/PythonScript.dll" Vital="no" />
						</Component>
						<Component Id="ExtraClients" Guid="57D203AF-0A5F-4fca-BA6E-8B8767F97B8D" Win64="$(var.Win64)">
							<File Id="GraphiteClient" Name="GraphiteClient.dll" DiskId="1" Source="$(var.Source)/modules/GraphiteClient.dll" Vital="no" />
							<File Id="SMTPClient" Name="SMTPClient.dll" DiskId="1" Source="$(var.Source)/modules/SMTPClient.dll" Vital="no" />
              <File Id="SyslogClient" Name="SyslogClient.dll" DiskId="1" Source="$(var.Source)/modules/SyslogClient.dll" Vital="no" />
              <File Id="NRDPClient" Name="NRDPClient.dll" DiskId="1" Source="$(var.Source)/modules/NRDPClient.dll" Vital="no" />
            </Component>
						<Component Id="Plugins" Guid="BBE40548-4061-43fc-A720-96BFFDEFD34E" Win64="$(var.Win64)">
							<File Id="ModCheckEventLog.dll" Name="CheckEventLog.dll" DiskId="1" Source="$(var.Source)/modules/CheckEventLog.dll" Vital="no" />
							<File Id="ModCheckExternalScripts.dll" Name="CheckExternalScripts.dll" DiskId="1" Source="$(var.Source)/modules/CheckExternalScripts.dll" Vital="no" />
							<File Id="ModCheckHelpers.dll" Name="CheckHelpers.dll" DiskId="1" Source="$(var.Source)/modules/CheckHelpers.dll" Vital="no" />
							<File Id="ModCheckSystem.dll" Name="CheckSystem.dll" DiskId="1" Source="$(var.Source)/modules/CheckSystem.dll" Vital="no" />
							<File Id="ModCheckWMI.dll" Name="CheckWMI.dll" DiskId="1" Source="$(var.Source)/modules/CheckWMI.dll" Vital="no" />
							<File Id="ModLUAScript.dll" Name="LUAScript.dll" DiskId="1" Source="$(var.Source)/modules/LUAScript.dll" Vital="no" />
							<File Id="ModCheckNSCP.dll" Name="CheckNSCP.dll" DiskId="1" Source="$(var.Source)/modules/CheckNSCP.dll" Vital="no" />
							<File Id="ModCheckDisk.dll" Name="CheckDisk.dll" DiskId="1" Source="$(var.Source)/modules/CheckDisk.dll" Vital="no" />
							<File Id="ModCheckTaskSched.dll" Name="CheckTaskSched.dll" DiskId="1" Source="$(var.Source)/modules/CheckTaskSched.dll" Vital="no" />
							<File Id="ModCheckTaskSched2.dll" Name="CheckTaskSched2.dll" DiskId="1" Source="$(var.Source)/modules/CheckTaskSched2.dll" Vital="no" />
              <File Id="ModSimpleCache.dll" Name="SimpleCache.dll" DiskId="1" Source="$(var.Source)/modules/SimpleCache.dll" Vital="no" />
              <File Id="ModSimpleFileWriter.dll" Name="SimpleFileWriter.dll" DiskId="1" Source="$(var.Source)/modules/SimpleFileWriter.dll" Vital="no" />
              <File Id="ModCheckLogFile.dll" Name="CheckLogFile.dll" DiskId="1" Source="$(var.Source)/modules/CheckLogFile.dll" Vital="no" />
              <File Id="ModDotnetPlugins.dll" Name="DotnetPlugins.dll" DiskId="1" Source="$(var.Source)/modules/DotnetPlugins.dll" Vital="no" />
            </Component>
					</Directory>
					<Directory Id="INSTALLLOCATION_SCRIPTS" Name="scripts">
						<Component Id="Scripts" Guid="6439B928-2014-4efa-BA17-121D5DE0D527" Win64="$(var.Win64)">
							<File Id="script001" Name="check_60s.bat" DiskId="1" Source="$(var.Source)/scripts/check_60s.bat" Vital="no" />
							<File Id="script002" Name="check_battery.vbs" DiskId="1" Source="$(var.Source)/scripts/check_battery.vbs" Vital="no" />
							<File Id="script003" Name="check_files.vbs" DiskId="1" Source="$(var.Source)/scripts/check_files.vbs" Vital="no" />
							<File Id="script004" Name="check_no_rdp.bat" DiskId="1" Source="$(var.Source)/scripts/check_no_rdp.bat" Vital="no" />
							<File Id="script005" Name="check_printer.vbs" DiskId="1" Source="$(var.Source)/scripts/check_printer.vbs" Vital="no" />
							<File Id="script006" Name="check_ok.bat" DiskId="1" Source="$(var.Source)/scripts/check_ok.bat" Vital="no" />
							<File Id="script007" Name="check_ping.bat" DiskId="1" Source="$(var.Source)/scripts/check_ping.bat" Vital="no" />
							<File Id="script008" Name="check_updates.vbs" DiskId="1" Source="$(var.Source)/scripts/check_updates.vbs" Vital="no" />
							<File Id="sample001" Name="check_test.ps1" DiskId="1" Source="$(var.Source)/scripts/check_test.ps1" Vital="no" />
							<File Id="sample002" Name="check_test.vbs" DiskId="1" Source="$(var.Source)/scripts/check_test.vbs" Vital="no" />
						</Component>
            <Directory Id="LUA_SCRIPTS" Name="lib">
              <Component Id="LuaScripts" Guid="BD341200-6F01-4bf3-ADEA-CE592229A8E5" Win64="$(var.Win64)">
                <File Id="lua001" Name="test.lua" DiskId="1" Source="$(var.Source)/scripts/lua/test.lua" Vital="no" />
              </Component>
            </Directory>
            <Directory Id="INSTALLLOCATION_SCRIPTS_LIB" Name="lib">
							<Component Id="ScriptLibs" Guid="E4B49908-F625-49af-A936-E2E8B079B031" Win64="$(var.Win64)">
								<File Id="lib001" Name="NagiosPlugins.vbs" DiskId="1" Source="$(var.Source)/scripts/lib/NagiosPlugins.vbs" Vital="no" />
								<File Id="lib002" Name="wrapper.vbs" DiskId="1" Source="$(var.Source)/scripts/lib/wrapper.vbs" Vital="no" />
							</Component>
						</Directory>
						<Directory Id="INSTALLLOCATION_SCRIPTS_PYTHON" Name="python">
							<Component Id="PythonScripts" Guid="5FE52128-E22D-4ab3-8A58-49289329F99C" Win64="$(var.Win64)">
								<File Id="P_script_001" Name="test_eventlog.py" DiskId="1" Source="$(var.Source)/scripts/python/test_eventlog.py" Vital="no" />
								<File Id="P_script_002" Name="test_nsca.py" DiskId="1" Source="$(var.Source)/scripts/python/test_nsca.py" Vital="no" />
								<File Id="P_script_003" Name="test_pb.py" DiskId="1" Source="$(var.Source)/scripts/python/test_pb.py" Vital="no" />
								<File Id="P_script_004" Name="test_sample.py" DiskId="1" Source="$(var.Source)/scripts/python/test_sample.py" Vital="no" />
							</Component>
						<Directory Id="INSTALLLOCATION_SCRIPTS_PYTHON_LIB1" Name="lib">
							<Component Id="PythonScriptsPBLib1" Guid="7BB3FE48-7E17-4796-9135-76A26DB3B81E" Win64="$(var.Win64)">
								<File Id="p_script_lib_001" Name="__init__.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/__init__.py" Vital="no" />
								<File Id="p_script_pb_001" Name="ipc_pb2.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/ipc_pb2.py" Vital="no" />
								<File Id="p_script_pb_002" Name="plugin_pb2.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/plugin_pb2.py" Vital="no" />
							</Component>
							<Directory Id="INSTALLLOCATION_SCRIPTS_PYTHON_LIB2" Name="google">
								<Component Id="PythonScriptsPBLib2" Guid="06098D2E-727B-42fe-93A0-364E50D48EFC" Win64="$(var.Win64)">
									<File Id="p_script_lib_002" Name="__init__.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/__init__.py" Vital="no" />
								</Component>
								<Directory Id="INSTALLLOCATION_SCRIPTS_PYTHON_LIB3" Name="protobuf">
									<Component Id="PythonScriptsPBLib3" Guid="F683848B-9ECD-4d8a-932B-0E79574186D6" Win64="$(var.Win64)">
										<File Id="p_script_lib_003" Name="descriptor.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/descriptor.py" Vital="no" />
										<File Id="p_script_lib_004" Name="descriptor_pb2.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/descriptor_pb2.py" Vital="no" />
										<File Id="p_script_lib_005" Name="message.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/message.py" Vital="no" />
										<File Id="p_script_lib_006" Name="reflection.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/reflection.py" Vital="no" />
										<File Id="p_script_lib_007" Name="service.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/service.py" Vital="no" />
										<File Id="p_script_lib_008" Name="service_reflection.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/service_reflection.py" Vital="no" />
										<File Id="p_script_lib_009" Name="text_format.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/text_format.py" Vital="no" />
										<File Id="p_script_lib_010" Name="__init__.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/__init__.py" Vital="no" />
									</Component>
									<Directory Id="INSTALLLOCATION_SCRIPTS_PYTHON_LIB4" Name="compiler">
										<Component Id="PythonScriptsPBLib4" Guid="A1943D51-39AE-4eac-91D5-D066C22EF5CB" Win64="$(var.Win64)">
											<File Id="p_script_lib_011" Name="plugin_pb2.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/compiler/plugin_pb2.py" Vital="no" />
										</Component>
									</Directory>
									<Directory Id="INSTALLLOCATION_SCRIPTS_PYTHON_LIB5" Name="internal">
										<Component Id="PythonScriptsPBLib5" Guid="64FCF330-B17F-434e-9CC4-F357C2126690" Win64="$(var.Win64)">
											<File Id="p_script_lib_012" Name="api_implementation.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/api_implementation.py" Vital="no" />
											<File Id="p_script_lib_013" Name="containers.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/containers.py" Vital="no" />
											<File Id="p_script_lib_014" Name="cpp_message.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/cpp_message.py" Vital="no" />
											<File Id="p_script_lib_015" Name="decoder.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/decoder.py" Vital="no" />
											<File Id="p_script_lib_016" Name="encoder.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/encoder.py" Vital="no" />
											<File Id="p_script_lib_017" Name="message_listener.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/message_listener.py" Vital="no" />
											<File Id="p_script_lib_018" Name="python_message.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/python_message.py" Vital="no" />
											<File Id="p_script_lib_019" Name="type_checkers.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/type_checkers.py" Vital="no" />
											<File Id="p_script_lib_020" Name="wire_format.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/wire_format.py" Vital="no" />
											<File Id="p_script_lib_021" Name="__init__.py" DiskId="1" Source="$(var.Source)/scripts/python/lib/google/protobuf/internal/__init__.py" Vital="no" />
										</Component>
									</Directory>
								</Directory>
							</Directory>
						</Directory>
            </Directory>
          </Directory>
				</Directory>
			</Directory>

			<!-- ### Start Menu Items ### -->
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="$(var.App.StartMenuPath)" />
			</Directory>
		</Directory>

		<!-- ### FEATURES START ### -->
		<Feature Id="ProductFeature" Title="NSClient++ $(var.arch)" Description="Binaries for $(var.arch)"
							 Display="expand"  Level="1" ConfigurableDirectory="INSTALLLOCATION" Absent="disallow">
			<Feature Id="MainProgram" Title="Program" Description="Main Service" Level="1" Absent="disallow">
				<ComponentRef Id="MainClient" />
				<ComponentRef Id="Helpers" />
				<ComponentRef Id="RandomFiles" />
				<ComponentRef Id="SampleConfigUser" />
				<ComponentRef Id="SampleConfig" />
				<Feature Id="Shortcuts" Title="Shortcuts" Description="Main Service" Level="1" Absent="disallow">
					<ComponentRef Id="Shortcuts" />
				</Feature>
			</Feature>
			<Feature Id="Documentation" Title="Documentation (pdf)" Description="Documentation for NSClient++ and how to use it from Nagios" Level="1">
				<ComponentRef Id="NagiosDocumentation" />
				<ComponentRef Id="ReferenceDocumentation" />
			</Feature>
			<Feature Id="Plugins" Title="Plugins" Description="Plugins" Level="1" Absent="disallow">
				<Feature Id="CheckPlugins" Title="Check Plugins" Description="Various plugins to check your system. (Includes all check plugins)" Level="1">
          <ComponentRef Id="Plugins" />
          <ComponentRef Id="LuaScripts" />
        </Feature>
				<Feature Id="NRPEPlugins" Title="NRPE Support" Description="NRPE Server Plugin. Support for the more vercitile NRPE protocol (check_nrpe)" Level="1" Absent="disallow">
					<ComponentRef Id="NRPEServer" />
					<ComponentRef Id="NRPEServerCert" />
				</Feature>
				<Feature Id="NSCPlugins" Title="NSClient support" Description="NSClient Server Plugin. Support for the old NSClient protocol (check_nt)" Level="1" Absent="disallow">
					<ComponentRef Id="NSCServer" />
				</Feature>
				<Feature Id="NSCAPlugin" Title="NSCA plugin" Description="Plugin to submit passive results to an NSCA server" Level="1" Absent="disallow">
					<ComponentRef Id="NSCA" />
				</Feature>
				<Feature Id="ExtraClientPlugin" Title="Various client plugins" Description="Plugins to connect to various sytems such as syslog, graphite and smtp" Level="1" Absent="disallow">
					<ComponentRef Id="ExtraClients" />
				</Feature>
				<Feature Id="PythonScript" Title="Python Scripting" Description="Python scripting requires python to be installed)" Level="1" Absent="disallow">
					<ComponentRef Id="PythonScript" />
					<ComponentRef Id="PythonScripts" />
					<Feature Id="PythonScriptPBLib" Title="Protocl buffer lib" Description="Python library for protocol buffers" Level="1" Absent="disallow">
						<ComponentRef Id="PythonScriptsPBLib1" />
						<ComponentRef Id="PythonScriptsPBLib2" />
						<ComponentRef Id="PythonScriptsPBLib3" />
						<ComponentRef Id="PythonScriptsPBLib4" />
						<ComponentRef Id="PythonScriptsPBLib5" />
					</Feature>
				</Feature>
				<Feature Id="SampleScripts" Title="Sample Scripts" Description="Some sample client-side scripts to use with NRPE" Level="1" Absent="disallow">
					<ComponentRef Id="Scripts" />
					<ComponentRef Id="ScriptLibs" />
				</Feature>
			</Feature>
		</Feature>

		<CustomAction Id='ImportConfig'			BinaryKey='InstallerHelper' DllEntry='ImportConfig'			Impersonate='yes' Execute="immediate" Return="check" />
		<CustomAction Id='ScheduleWriteConfig'	BinaryKey='InstallerHelper' DllEntry='ScheduleWriteConfig'	Impersonate='yes' Execute="immediate" Return="check" />
		<CustomAction Id="ExecWriteConfig"		BinaryKey="InstallerHelper" DllEntry="ExecWriteConfig"	Impersonate="no" Execute="deferred" Return="check"  />

		<CustomAction Id='NeedUninstall'		BinaryKey='InstallerHelper' DllEntry='NeedUninstall'	Impersonate='yes' Execute="immediate" Return="check" />
		<CustomAction Id="PreventDowngrading"	Error="Newer version already installed." />


		<CustomAction Id="GenConfig.Command" Property="GenConfig" Value="&quot;[#NSClientEXE]&quot; settings --generate ini"/>
		<CustomAction Id="GenConfig" BinaryKey="WixCA" DllEntry="CAQuietExec" Impersonate="no" Return="ignore" Execute="deferred"/>

		<CustomAction Id="SetUserGroupUsers" Property="TRANSLATE_SID" Value="S-1-5-32-545" Return="check" />
		<CustomAction Id="SetUserGroupUsersProp" Property="TRANSLATE_SID_PROPERTY" Value="USERGROUP_USERS" Return="check" />
		<CustomAction Id="TranslateUserGroupUsers" BinaryKey="InstallerHelper" DllEntry="TranslateSid"/>

		<Binary Id='InstallerHelper' SourceFile='$(var.Helpers)/main_dll.dll' />

		<InstallExecuteSequence>
			<RemoveExistingProducts After='InstallInitialize'/>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWAPPFOUND</Custom>
			<Custom Action="ScheduleWriteConfig" After="InstallFiles">NOT REMOVE</Custom>
			<Custom Action="GenConfig.Command" After="ScheduleWriteConfig">NOT REMOVE AND INSTALL_SAMPLE_CONFIG = 1 AND GENERATE_SAMPLE_CONFIG = 1</Custom>
			<Custom Action="GenConfig" After="GenConfig.Command">NOT REMOVE AND INSTALL_SAMPLE_CONFIG = 1 AND GENERATE_SAMPLE_CONFIG = 1</Custom>

			<Custom Action="SetUserGroupUsers" After="LaunchConditions">NOT Installed</Custom>
			<Custom Action="SetUserGroupUsersProp" After="SetUserGroupUsers">NOT Installed</Custom>
			<Custom Action="TranslateUserGroupUsers" After="SetUserGroupUsersProp">NOT Installed</Custom>

		</InstallExecuteSequence>

		<InstallUISequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWAPPFOUND</Custom>
			<Custom Action="NeedUninstall" After="FindRelatedProducts">1</Custom>
			<Custom Action="ImportConfig" After="CostFinalize">NOT REMOVE</Custom>
		</InstallUISequence>

		<Property Id="ALLUSERS">
			<![CDATA[2]]>
		</Property>
		<?include properties.wxs ?>

		<!-- ### User Interfaces ### -->
		<UIRef Id="WixUI_MondoNSCP" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<!-- ### Icons -->
		<Icon Id="nscp.exe" SourceFile="$(var.Source)/nscp.exe" />
		<Icon Id="doc.ico" SourceFile="../../../resources/help.ico"/>
		<Binary Id="OldSettingsMap" SourceFile="$(var.Source)/old-settings.map" />
	</Product>
</Wix>
