    .App {
      display: flex;
    }
    .AppBar {
      /*zIndex: theme.zIndex.drawer + 1,*/
    }
    .drawer {
      width: 200;
      flex-shrink: 0;
    }
    .drawerPaper {
      width: 200;
    }
    .content {
      flex-grow: 1;
      /*padding: theme.spacing.unit * 3,*/
    }