name: Build release

on:
  push:
    branches: [main]

env:
  PERL_VERSION: 5.34
  PYTHON_VERSION: 3.11
  OPENSSL_VERSION: 1.1.1q
  PROTOBUF_VERSION: 21.6
  BOOST_VERSION: 1.79.0

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
  build-x64:
    depends-on: get-version
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x64
      version: ${{ needs.get-version.outputs.version }}
  build-x86:
    depends-on: get-version
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x86
      version: ${{ needs.get-version.outputs.version }}

  release:
    needs: [get-version, build-x64, build-x86]
    uses: ./.github/workflows/release.yml
    with:
      version: ${{ needs.get-version.outputs.version }}