name: Build feature

on:
  push: {}


env:
  PERL_VERSION: 5.34
  PYTHON_VERSION: 3.11
  OPENSSL_VERSION: 1.1.1q
  PROTOBUF_VERSION: 21.6
  BOOST_VERSION: 1.79.0

jobs:
  build-x64:
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x64
  build-x86:
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x86

  release:
    needs: [build-x64, build-x86]
    uses: ./.github/workflows/release.yml
      
    
