name: Build feature

on:
  push:
    branches-ignore: [mob/**, main]

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
  build-x64:
    needs: get-version
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x64
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  build-x86:
    needs: get-version
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x86
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
