name: Build release

permissions:
  contents: write
  actions: read

on:
  push:
    branches: [main]

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
  create-test-bundle:
    uses: ./.github/workflows/create-test-bundle.yml
  build-client-x64:
    needs: get-version
    uses: ./.github/workflows/build-rust.yml
    with:
      os: windows-latest
      arch: x64
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  build-server-x64:
    needs: [get-version, build-client-x64, create-test-bundle]
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x64
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  build-client-x86:
    needs: get-version
    uses: ./.github/workflows/build-rust.yml
    with:
      os: windows-latest
      arch: x86
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  build-server-x86:
    needs: [get-version, build-client-x86, create-test-bundle]
    uses: ./.github/workflows/build-windows.yml
    with:
      architecture: x86
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  build-x86-static:
    needs: get-version
    uses: ./.github/workflows/build-windows-legacy.yml
    with:
      architecture: x86
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  build-client-ubuntu-x64:
    needs: get-version
    uses: ./.github/workflows/build-rust.yml
    with:
      os: ubuntu-latest
      arch: x64
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  build-ubuntu-x64:
    needs: [get-version, build-client-ubuntu-x64, create-test-bundle]
    uses: ./.github/workflows/build-linux.yml
    with:
      architecture: x64
      version: ${{ needs.get-version.outputs.version }}

  release:
    needs: [get-version, build-server-x64, build-server-x86, build-x86-static, build-ubuntu-x64]
    uses: ./.github/workflows/release.yml
    with:
      version: ${{ needs.get-version.outputs.version }}