name: Build Windows

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      architecture:
        type: string
        description: 'Architecture to build'
        required: true
        default: 'x64'
      version:
        type: string
        description: 'Version to build'
        required: true

env:
  TINY_XML_2_VERSION: 10.1.0
  MONGOOSE_VERSION: 7.19

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - id: python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ ENV.PYTHON_VERSION }}
        architecture: ${{ inputs.architecture }}
        cache-dependency-path: 'build/python/requirements.txt'
        cache: 'pip'

    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
        cache-dependency-path: web/package-lock.json
    - id: build-web
      working-directory: web
      run: |
        npm install
        npm run build

    - name: make dirs
      run: |
        mkdir -p tmp/nscp
      shell: bash

    - name: setup python dependencies
      shell: bash
      run: |
        pip3 install -r build/python/requirements.txt

    - id: tinyxml2
      uses: ./.github/actions/tinyxml2
      with:
        version: ${{ ENV.TINY_XML_2_VERSION }}

    - id: mongoose
      uses: ./.github/actions/mongoose
      with:
        version: ${{ ENV.MONGOOSE_VERSION }}

    - name: Install boost
      run: |
        sudo apt-get install -y libboost-all-dev libgtest-dev protobuf-compiler libprotobuf-dev openssl libssl-dev

    - uses: DamianReeves/write-file-action@master
      name: Write NSClient++ cmake config
      with:
        path: tmp/nscp/build.cmake
        contents: |
            SET(LIBRARY_ROOT_FOLDER	"${{ env.GITHUB_WORKSPACE }}")
            SET(TINY_XML2_SOURCE_DIR "${{ steps.tinyxml2.outputs.path_unix }}")
            set(MONGOOSE_SOURCE_DIR "${{ steps.mongoose.outputs.path_unix }}")
            set(CHECK_NSCLIENT_LOCATION "${CMAKE_CURRENT_SOURCE_DIR}")

    - uses: actions/download-artifact@v6
      with:
        name: check_nsclient-linux-${{ inputs.architecture }}

    - name: CMake (NSCP)
      working-directory: tmp/nscp
      run: |
        cmake ../.. -D BUILD_VERSION=${{ inputs.version }}

    - name: Build nsclient
      working-directory: tmp/nscp
      run: |
        make

    - name: rename client
      run: |
        mv check_nsclient check_nsclient-${{ inputs.version }}-ubuntu-x64
      shell: bash

    - uses: actions/upload-artifact@v4
      with:
        name: NSCP-${{ inputs.version }}-ubuntu-x64
        path: |
          check_nsclient-${{ inputs.version }}-ubuntu-x64
        if-no-files-found: error

    - name: Run tests
      working-directory: tmp/nscp
      run: |
        ctest --output-on-failure -C Release
