name: Build feature

on:
  push:
    branches-ignore: [mob/**, main]

env:
  PERL_VERSION: 5.34
  PYTHON_VERSION: 3.11
  OPENSSL_VERSION: 1.1.1q
  PROTOBUF_VERSION: 21.6
  BOOST_VERSION: 1.79.0

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
  test-job:
    runs-on: ubuntu-latest
    needs: get-version
    steps:
      - name: Test
        run: echo "Test ${{ needs.get-version.outputs.version }}
  build-x64:
    needs: get-version
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x64
      version: ${{ needs.get-version.outputs.version }}
  build-x86:
    needs: get-version
    uses: ./.github/workflows/build-windows.yml
    with: 
      architecture: x86
      version: ${{ needs.get-version.outputs.version }}
