name: Fetch version

on:
  workflow_call:
    outputs:
      version:
        description: 'Detected version'
        value: ${{ jobs.version.outputs.version }}


jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0

    - name: Fetch version from git tags
      id: version
      uses: codacy/git-version@2.8.6
      with:
        release-branch: main

