name: Run Windows tests

permissions:
  contents: read
  pull-requests: write

on:
  workflow_call:
    inputs:
      architecture:
        type: string
        description: 'Architecture to build'
        required: true
        default: 'x64'
      version:
        type: string
        description: 'Version to build'
        required: true
    secrets:
      AZURE_TENANT_ID:
        description: 'Azure tenant ID'
        required: true
      AZURE_CLIENT_ID:
        description: 'Azure client ID'
        required: true
      AZURE_CLIENT_SECRET:
        description: 'Azure client secret'
        required: true

env:
  PERL_VERSION: 5.34
  PYTHON_VERSION: 3.11
  OPENSSL_VERSION: 3.5.4
  PROTOBUF_VERSION: 21.12
  BOOST_VERSION: 1.83.0
  CRYPTOPP_VERSION: 8.9.0
  LUA_VERSION: 5.4.7
  TINY_XML_2_VERSION: 10.1.0
  GOOGLE_TEST_VERSION: 1.12.1
  MONGOOSE_VERSION: 7.19

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
        cache-dependency-path: web/package-lock.json

    - name: Create folders
      shell: bash
      run: |
        mkdir -p tmp/nscp

    - uses: actions/download-artifact@v4
      with:
        name: NSCP-${{ inputs.version }}-${{ inputs.architecture }}
        path: tmp/nscp
    - shell: bash
      working-directory: tmp/nscp
      run: |
        7z x NSCP-${{ inputs.version }}-${{ inputs.architecture }}.zip

    - name: Acceptance tests
      working-directory: tmp/nscp
      run: |
        ..\..\tests\acceptance-tests.bat
      

    - name: Run rest tests
      uses: ./.github/actions/rest-test

    # TODO: Disabled for now due to issues with docker on windows runners
    #- name: Run NRPE tests
    #  working-directory: tmp/nscp
    #  run: |
    #    ..\..\tests\nrpe\run-test.bat

    - name: Run installer tests
      if: ${{ inputs.architecture == 'x64' }}
      uses: ./.github/actions/installer-test
